{"openapi":"3.0.1","info":{"title":"Genomic Data Store Service","version":"v1"},"servers":[{"url":"https://aps2.platform.illumina.com/"}],"security":[{"Bearer":[]}],"paths":{"/v1/files/{fileId}":{"get":{"tags":["Files"],"summary":"Get details about a file, including a pre-signed URL for download","description":"Get information and details for the specified file ID, including metadata and a pre-signed URL for file download. The URL can be used as a curl command or directly with S3.","operationId":"getFile","parameters":[{"name":"fileId","in":"path","description":"Unique identifier for the file to retrieve.","required":true,"schema":{"type":"string"}},{"name":"tenantId","in":"query","description":"Optional parameter to see shared data in another tenant","schema":{"type":"string"}},{"name":"presignedUrlMode","in":"query","description":"Optional parameter to specify presigned url's content-disposition. If not specified, the browser will determine the default behavior.\r\n            Possible values: Attachment, Inline, Browser","schema":{"type":"string"}},{"name":"includeVolumeMetadata","in":"query","description":"Optional parameter to return volume's metadata","schema":{"type":"boolean"}},{"name":"metadata.include","in":"query","description":"Optional parameter to specify comma separated patterns to include metadata by their field names.","schema":{"type":"string"}},{"name":"metadata.exclude","in":"query","description":"Optional parameter to specify comma separated patterns to exclude metadata by their field names.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileResponse"}}}},"400":{"description":"Bad request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"File not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["Files"],"summary":"Permanently delete a file","description":"Permanently delete a file entry and its underlying content","operationId":"deleteFile","parameters":[{"name":"fileId","in":"path","description":"Unique identifier for the file to delete.","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content.","content":{}},"400":{"description":"Bad request.","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized.","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden.","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"File not found.","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["Files"],"summary":"Update a file entry in GDS and get temporary credentials for upload","description":"Update a file entry in GDS. Returns temporary credentials and presigned url(s) for file upload directly to S3 when the include=objectStoreAccess parameter is used. Note that the currently supported changes to the file resource are updating the file type and the underlying content.","operationId":"updateFile","parameters":[{"name":"fileId","in":"path","description":"Unique identifier for the file to be updated.","required":true,"schema":{"type":"string"}},{"name":"include","in":"query","description":"Optionally include additional fields in the response.\r\n            Possible values: ObjectStoreAccess","schema":{"type":"string"}},{"name":"uploadPartCount","in":"query","description":"Optional number of parts for the presigned url for uploads (1 - 10000)","schema":{"maximum":10000,"minimum":1,"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateFileRequest"}}},"required":false},"responses":{"200":{"description":"Success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileWriteableResponse"}}}},"400":{"description":"Bad request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"File not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-codegen-request-body-name":"body"}},"/v1/files":{"get":{"tags":["Files"],"summary":"Get a list of files","description":"Given a volumeId or volume name, get a list of files accessible by the JWT. The default sort returned is alphabetical, ascending. The default page size is 10 items","operationId":"listFiles","parameters":[{"name":"volume.id","in":"query","description":"Optional field that specifies comma-separated volume IDs to include in the list","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"volume.name","in":"query","description":"Optional field that specifies comma-separated volume names to include in the list","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"path","in":"query","description":"Optional field that specifies comma-separated paths to include in the list. Value can use wildcards (e.g. /a/b/c/*) or exact matches (e.g. /a/b/c/d/).","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"isUploaded","in":"query","description":"Optional field to filter by Uploaded files","schema":{"type":"boolean"}},{"name":"archiveStatus","in":"query","description":"Optional field that specifies comma-separated Archive Statuses to include in the list","schema":{"type":"string"}},{"name":"recursive","in":"query","description":"Optional field to specify if files should be returned recursively in and under the specified paths, or only directly in the specified paths","schema":{"type":"boolean"}},{"name":"presignedUrlMode","in":"query","description":"Optional parameter to specify presigned url's content-disposition. If not specified, the browser will determine the default behavior.\r\nPossible values: Attachment, Inline, Browser","schema":{"type":"string"}},{"name":"include","in":"query","description":"Optionally include additional fields in the response. Multiple fields can be included by comma-separation.\r\nPossible values: TotalItemCount, PresignedUrl, InheritedAcl","schema":{"type":"string"}},{"name":"pageSize","in":"query","description":"START_DESC END_DESC","schema":{"maximum":10000,"minimum":0,"type":"integer","format":"int32"}},{"name":"pageToken","in":"query","description":"START_DESC END_DESC","schema":{"type":"string"}},{"name":"tenantId","in":"query","description":"Optional parameter to see shared data in another tenant","schema":{"type":"string"}},{"name":"metadata.include","in":"query","description":"Optional parameter to specify comma separated patterns to include metadata by their field names.","schema":{"type":"string"}},{"name":"metadata.exclude","in":"query","description":"Optional parameter to specify comma separated patterns to exclude metadata by their field names.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileListResponse"}}}},"400":{"description":"Bad request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"tags":["Files"],"summary":"Create a file entry in GDS and get temporary credentials for upload","description":"Create a file entry in GDS. Returns temporary credentials and presigned url(s) for file upload directly to S3 when the include=objectStoreAccess parameter is used. Volume ID or volume name is required for file creation. If a folder path is provided and does not exist, GDS creates the folder path in the appropriate account automatically.","operationId":"createFile","parameters":[{"name":"include","in":"query","description":"Optionally include additional fields in the response.\r\n            Possible values: ObjectStoreAccess","schema":{"type":"string"}},{"name":"uploadPartCount","in":"query","description":"Optional number of parts for the presigned url for uploads (1 - 10000)","schema":{"maximum":10000,"minimum":1,"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateFileRequest"}}},"required":true},"responses":{"201":{"description":"Created new File.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileWriteableResponse"}}}},"400":{"description":"Bad request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"A conflict was found. Make sure the new File doesn't already exist.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-codegen-request-body-name":"body"},"patch":{"tags":["Files"],"summary":"Updates list of files with metadata","description":"Updates list of files with metadata","operationId":"bulkFileUpdate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkFileUpdateRequest"}}},"required":false},"responses":{"200":{"description":"Success.","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/BulkFileUpdateResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/BulkFileUpdateResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/BulkFileUpdateResponse"}}}},"202":{"description":"Success","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/BulkFileUpdateResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/BulkFileUpdateResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/BulkFileUpdateResponse"}}}},"400":{"description":"Bad request.","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized.","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden.","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-codegen-request-body-name":"body"}},"/v1/files/list":{"post":{"tags":["Files"],"summary":"Get a list of volume files","description":"Gets file list by volume ID and an array of file IDs. The default sort returned is alphabetical, ascending","operationId":"listVolumeFiles","requestBody":{"content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/VolumeFileListRequest"}},"application/json":{"schema":{"$ref":"#/components/schemas/VolumeFileListRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/VolumeFileListRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/VolumeFileListRequest"}}},"required":true},"responses":{"200":{"description":"Success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VolumeFileListResponse"}}}},"400":{"description":"Bad request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-codegen-request-body-name":"body"}},"/v1/files/{fileId}:completeUpload":{"post":{"tags":["Files"],"summary":"Complete a file Upload","description":"Complete a file upload operation. If the file was uploaded using multipart uploads, combine all the multiple parts uploaded into one complete file.","operationId":"completeFileUpload","parameters":[{"name":"fileId","in":"path","description":"Unique identifier for the file upload to be completed.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/FileUploadCompleteRequest"}},"application/json":{"schema":{"$ref":"#/components/schemas/FileUploadCompleteRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/FileUploadCompleteRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/FileUploadCompleteRequest"}}},"required":true},"responses":{"200":{"description":"Success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileResponse"}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"File not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-codegen-request-body-name":"body"}},"/v1/files/{fileId}:archive":{"post":{"tags":["Files"],"summary":"Archive a file","description":"Archives a file to a lower storage cost tier.","operationId":"archiveFile","parameters":[{"name":"fileId","in":"path","description":"Unique identifier for the file to be archived.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/FileArchiveRequest"}},"application/json":{"schema":{"$ref":"#/components/schemas/FileArchiveRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/FileArchiveRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/FileArchiveRequest"}}},"required":true},"responses":{"200":{"description":"Success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileResponse"}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"File not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-codegen-request-body-name":"body"}},"/v1/files/{fileId}:unarchive":{"post":{"tags":["Files"],"summary":"Unarchive a file","description":"Unarchive a file from a lower storage cost tier.","operationId":"unarchiveFile","parameters":[{"name":"fileId","in":"path","description":"Unique identifier for the file to be unarchived.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/FileUnarchiveRequest"}},"application/json":{"schema":{"$ref":"#/components/schemas/FileUnarchiveRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/FileUnarchiveRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/FileUnarchiveRequest"}}},"required":true},"responses":{"202":{"description":"Accepted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileResponse"}}}},"400":{"description":"Bad request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"File not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-codegen-request-body-name":"body"}},"/v1/folders":{"get":{"tags":["Folders"],"summary":"Get a list of folders","description":"Given a volumeId or volume name, get a list of folders accessible by the JWT. The default sort returned is alphabetical, ascending. The default page size is 10 items","operationId":"listFolders","parameters":[{"name":"volume.id","in":"query","description":"Optional field that specifies comma-separated volume IDs to include in the list","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"volume.name","in":"query","description":"Optional field that specifies comma-separated volume names to include in the list","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"path","in":"query","description":"Optional field that specifies comma-separated paths to include in the list. Value can use wildcards (e.g. /a/b/c/*) or exact matches (e.g. /a/b/c/d/).","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"jobStatuses","in":"query","description":"Optional field that specifies comma-separated JobStatuses to include in the list","schema":{"type":"string"}},{"name":"acls","in":"query","description":"Optional field that specifies comma-separated acls to include in the list","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"recursive","in":"query","description":"Optional field to specify if folders should be returned recursively in and under the specified paths, or only directly in the specified paths","schema":{"type":"boolean"}},{"name":"pageSize","in":"query","description":"START_DESC END_DESC","schema":{"maximum":10000,"minimum":0,"type":"integer","format":"int32"}},{"name":"pageToken","in":"query","description":"START_DESC END_DESC","schema":{"type":"string"}},{"name":"include","in":"query","description":"Optionally include additional fields in the response. Multiple fields can be included by comma-separation.\r\nPossible values: TotalItemCount, InheritedAcl","schema":{"type":"string"}},{"name":"tenantId","in":"query","description":"Optional parameter to see shared data in another tenant","schema":{"type":"string"}},{"name":"metadata.include","in":"query","description":"Optional parameter to specify comma separated patterns to include metadata by their field names.","schema":{"type":"string"}},{"name":"metadata.exclude","in":"query","description":"Optional parameter to specify comma separated patterns to exclude metadata by their field names.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FolderListResponse"}}}},"400":{"description":"Bad request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"tags":["Folders"],"summary":"Create a folder in GDS and receive credentials for upload","description":"Create a folder entry in GDS. Returns temporary credentials for folder upload directly to S3 when the include=objectStoreAccess parameter is used. Volume ID or volume name is required for folder creation. If a folder path is provided and does not exist, GDS automatically creates the folder path in the appropriate account.","operationId":"createFolder","parameters":[{"name":"include","in":"query","description":"Optionally include additional fields in the response.\r\n            Possible values: ObjectStoreAccess","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateFolderRequest"}}},"required":true},"responses":{"201":{"description":"Created new Folder.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FolderWriteableResponse"}}}},"400":{"description":"Bad request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"A conflict was found. Make sure the new Folder doesn't already exist.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-codegen-request-body-name":"body"},"patch":{"tags":["Folders"],"summary":"Updates list of folders with metadata","description":"Updates list of folders with metadata","operationId":"bulkFolderUpdate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkFolderUpdateRequest"}}},"required":false},"responses":{"200":{"description":"Success","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/BulkFolderUpdateResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/BulkFolderUpdateResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/BulkFolderUpdateResponse"}}}},"202":{"description":"Accepted.","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/BulkFolderUpdateResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/BulkFolderUpdateResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/BulkFolderUpdateResponse"}}}},"400":{"description":"Bad request.","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized.","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden.","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-codegen-request-body-name":"body"}},"/v1/folders/{folderId}":{"get":{"tags":["Folders"],"summary":"Get information about a folder in GDS.","description":"Get information for the specified folder ID.","operationId":"getFolder","parameters":[{"name":"folderId","in":"path","description":"Unique identifier for the folder to retrieve.","required":true,"schema":{"type":"string"}},{"name":"tenantId","in":"query","description":"Optional parameter to see shared data in another tenant","schema":{"type":"string"}},{"name":"includeVolumeMetadata","in":"query","description":"Optional parameter to return volume's metadata","schema":{"type":"boolean"}},{"name":"metadata.include","in":"query","description":"Optional parameter to specify comma separated patterns to include metadata by their field names.","schema":{"type":"string"}},{"name":"metadata.exclude","in":"query","description":"Optional parameter to specify comma separated patterns to exclude metadata by their field names.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FolderResponse"}}}},"400":{"description":"Bad request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Folder not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["Folders"],"summary":"Deletes a folder by id","operationId":"deleteFolder","parameters":[{"name":"folderId","in":"path","description":"Unique identifier for the folder to be deleted.","required":true,"schema":{"type":"string"}}],"responses":{"202":{"description":"Accepted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FolderResponse"}}}},"400":{"description":"Bad request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Folder not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["Folders"],"summary":"Update a folder content or acl","description":"Update an existing folder in GDS and return upload credentials for that folder. Changes to the folder name and other metadata are not supported at this time.  Optionally overwrite the acl for this folder if acl is provided in the request.","operationId":"updateFolder","parameters":[{"name":"folderId","in":"path","description":"Unique identifier for the folder to be updated.","required":true,"schema":{"type":"string"}},{"name":"include","in":"query","description":"Optionally include additional fields in the response.\r\n            Possible values: ObjectStoreAccess","schema":{"type":"string"}}],"requestBody":{"content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/FolderUpdateRequest"}},"application/json":{"schema":{"$ref":"#/components/schemas/FolderUpdateRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/FolderUpdateRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/FolderUpdateRequest"}}},"required":false},"responses":{"200":{"description":"Success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FolderWriteableResponse"}}}},"400":{"description":"Bad request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Folder not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-codegen-request-body-name":"body"}},"/v1/folders/{folderId}:copy":{"post":{"tags":["Folders"],"summary":"Copy a folder","description":"Copy a folder into a target parent folder","operationId":"copyFolder","parameters":[{"name":"folderId","in":"path","description":"Unique identifier for the folder to be copied.","required":true,"schema":{"type":"string"}},{"name":"tenantId","in":"query","description":"Optional parameter to copy from a shared folder in another tenant","schema":{"type":"string"}}],"requestBody":{"content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/FolderCopyRequest"}},"application/json":{"schema":{"$ref":"#/components/schemas/FolderCopyRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/FolderCopyRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/FolderCopyRequest"}}},"required":true},"responses":{"202":{"description":"Accepted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobResponse"}}}},"400":{"description":"Bad request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Folder not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{}}},"x-codegen-request-body-name":"body"}},"/v1/folders/{folderId}:archive":{"post":{"tags":["Folders"],"summary":"Archive a folder","description":"Archives a folder to a lower storage cost tier.","operationId":"archiveFolder","parameters":[{"name":"folderId","in":"path","description":"Unique identifier for the folder to be archived.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/FolderArchiveRequest"}},"application/json":{"schema":{"$ref":"#/components/schemas/FolderArchiveRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/FolderArchiveRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/FolderArchiveRequest"}}},"required":true},"responses":{"202":{"description":"Accepted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FolderResponse"}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Folder not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{}}},"x-codegen-request-body-name":"body"}},"/v1/folders/{folderId}:unarchive":{"post":{"tags":["Folders"],"summary":"Unarchive a folder","description":"Unarchive a folder from a lower storage cost tier.","operationId":"unarchiveFolder","parameters":[{"name":"folderId","in":"path","description":"Unique identifier for the folder to be unarchived.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/FolderUnarchiveRequest"}},"application/json":{"schema":{"$ref":"#/components/schemas/FolderUnarchiveRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/FolderUnarchiveRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/FolderUnarchiveRequest"}}},"required":true},"responses":{"202":{"description":"Accepted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FolderResponse"}}}},"400":{"description":"Bad request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Folder not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{}}},"x-codegen-request-body-name":"body"}},"/v1/folders/{folderId}/sessions/{sessionId}":{"get":{"tags":["Folders"],"summary":"Get status of a folder upload in GDS","description":"Get status of a folder upload in GDS.","operationId":"getFolderSession","parameters":[{"name":"folderId","in":"path","description":"Unique identifier for the folder related to the upload session.","required":true,"schema":{"type":"string"}},{"name":"sessionId","in":"path","description":"The id of the upload session","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Completed upload session.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionResponse"}}}},"400":{"description":"Bad request.","content":{}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/folders/{folderId}/sessions/{sessionId}:complete":{"post":{"tags":["Folders"],"summary":"Complete a folder upload in GDS","description":"Complete a folder upload in GDS.","operationId":"completeFolderSession","parameters":[{"name":"folderId","in":"path","description":"Unique identifier for the folder related to the upload session.","required":true,"schema":{"type":"string"}},{"name":"sessionId","in":"path","description":"The id of the upload session","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The request body","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompleteSessionRequest"}}},"required":true},"responses":{"200":{"description":"Completed upload session.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionResponse"}}}},"202":{"description":"Upload session in progress.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionResponse"}}}},"400":{"description":"Bad request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-codegen-request-body-name":"body"}},"/v1/folders/{folderId}/sessions":{"post":{"tags":["Folders"],"summary":"Create a session","description":"Create a session and credentials used for accessing the object store directly","operationId":"createFolderSession","parameters":[{"name":"folderId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSessionRequest"}}},"required":true},"responses":{"201":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSessionResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-codegen-request-body-name":"body"}},"/v1/folders/{folderId}/jobs/{jobId}":{"get":{"tags":["Folders"],"summary":"Get status of a folder job in GDS","description":"Get status of a folder job in GDS.","operationId":"getFolderJob","parameters":[{"name":"folderId","in":"path","description":"Unique identifier for the folder related to the job.","required":true,"schema":{"type":"string"}},{"name":"jobId","in":"path","description":"The id of the job","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returned job.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobResponse"}}}},"400":{"description":"Bad request.","content":{}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/jobs/{jobId}":{},"/v1/volumeconfigurations":{"get":{"tags":["VolumeConfigurations"],"summary":"Get a list of volumes","operationId":"listVolumeConfigurations","parameters":[{"name":"onlineStatus","in":"query","description":"Optional field that specifies the Online Status for Volume configurations included in the list.\r\nIf provided, the value must be Initializing, Ok, or Error.","schema":{"type":"string"}},{"name":"pageSize","in":"query","description":"START_DESC END_DESC","schema":{"maximum":1000,"minimum":0,"type":"integer","format":"int32"}},{"name":"pageToken","in":"query","description":"START_DESC END_DESC","schema":{"type":"string"}},{"name":"include","in":"query","description":"Optionally include additional fields in the response. Multiple fields can be included by comma-separation.\r\nPossible values: TotalItemCount, InheritedAcl","schema":{"type":"string"}}],"responses":{"200":{"description":"Success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VolumeConfigurationListResponse"}}}},"400":{"description":"Bad request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"tags":["VolumeConfigurations"],"summary":"Create a volume configuration in GDS.","description":"Create a volume configuration in GDS. This contains the object store details that will be used to create volumes.","operationId":"createVolumeConfiguration","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateVolumeConfigurationRequest"}}},"required":true},"responses":{"201":{"description":"Created new Volume Configuration.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VolumeConfigurationResponse"}}}},"400":{"description":"Bad request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"A conflict was found. Make sure the new Volume configuration name doesn't already exist.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-codegen-request-body-name":"body"}},"/v1/volumeconfigurations/{volumeConfigurationName}":{"get":{"tags":["VolumeConfigurations"],"summary":"Get information for the specified volume configuration name or Id","operationId":"getVolumeConfiguration","parameters":[{"name":"volumeConfigurationName","in":"path","description":"Unique name of the volume configuration to retrieve information for.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VolumeConfigurationResponse"}}}},"400":{"description":"Bad request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Volume configuration not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["VolumeConfigurations"],"summary":"Deletes a volume configuration by Id or name","operationId":"deleteVolumeConfiguration","parameters":[{"name":"volumeConfigurationName","in":"path","description":"Unique name of the Volume Configuration to be deleted.","required":true,"schema":{"type":"string"}}],"responses":{"202":{"description":"Accepted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VolumeResponse"}}}},"400":{"description":"Bad request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Volume not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/volumeconfigurations/{volumeConfigurationName}:validate":{"post":{"tags":["VolumeConfigurations"],"summary":"Validate a volume configuration","description":"Validate an existing volume configuration.","operationId":"validateVolumeConfiguration","parameters":[{"name":"volumeConfigurationName","in":"path","description":"Unique name of the volume configuration to be validated.","required":true,"schema":{"type":"string"}}],"responses":{"202":{"description":"Accepted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VolumeConfigurationResponse"}}}},"400":{"description":"Bad request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Volume configuration not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/volumes":{"get":{"tags":["Volumes"],"summary":"Get a list of volumes","description":"Get a list of volumes accessible by the current JWT token’s tenant ID in GDS. The default sort returned is alphabetical, ascending. The default page size is 10 items.","operationId":"listVolumes","parameters":[{"name":"pageSize","in":"query","description":"START_DESC END_DESC","schema":{"maximum":1000,"minimum":0,"type":"integer","format":"int32"}},{"name":"pageToken","in":"query","description":"START_DESC END_DESC","schema":{"type":"string"}},{"name":"include","in":"query","description":"Optionally include additional fields in the response. Multiple fields can be included by comma-separation.\r\nPossible values: TotalItemCount, InheritedAcl","schema":{"type":"string"}},{"name":"tenantId","in":"query","description":"Optional parameter to see shared data in another tenant","schema":{"type":"string"}},{"name":"volumeConfigurationName","in":"query","description":"Unique name of the volume configuration","schema":{"type":"string"}}],"responses":{"200":{"description":"Success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VolumeListResponse"}}}},"400":{"description":"Bad request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"tags":["Volumes"],"summary":"Create a volume in GDS and receive temporary credentials for upload","description":"Create a volume in GDS to hold folders and files. Returns upload credentials to the root folder of the volume when the include=objectStoreAccess parameter is used. You must create a volume prior to uploading files or folders.","operationId":"createVolume","parameters":[{"name":"include","in":"query","description":"Optionally include additional fields in the response.\r\n            Possible values: ObjectStoreAccess","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateVolumeRequest"}}},"required":true},"responses":{"201":{"description":"Created new Volume.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateVolumeResponse"}}}},"400":{"description":"Bad request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"A conflict was found. Make sure the new Volume doesn't already exist.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-codegen-request-body-name":"body"}},"/v1/volumes/{volumeId}":{"get":{"tags":["Volumes"],"summary":"Get information for the specified volume ID or volume name","operationId":"getVolume","parameters":[{"name":"volumeId","in":"path","description":"Unique identifier for the volume to retrieve information for.","required":true,"schema":{"type":"string"}},{"name":"tenantId","in":"query","description":"Optional parameter to see shared data in another tenant","schema":{"type":"string"}},{"name":"metadata.include","in":"query","description":"Optional parameter to specify comma separated patterns to include metadata by their field names.","schema":{"type":"string"}},{"name":"metadata.exclude","in":"query","description":"Optional parameter to specify comma separated patterns to exclude metadata by their field names.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VolumeResponse"}}}},"400":{"description":"Bad request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Volume not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["Volumes"],"summary":"Deletes a volume by Id","operationId":"deleteVolume","parameters":[{"name":"volumeId","in":"path","description":"Unique identifier for the Volume to be deleted.","required":true,"schema":{"type":"string"}},{"name":"purgeObjectStoreData","in":"query","description":"Optional and for BYOB only. If true, the volume's data in object storage will be erased.\r\n            This field is ignored for non-BYOB volumes where the object store data is always removed upon deleting the volume.","schema":{"type":"boolean"}}],"responses":{"202":{"description":"Accepted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VolumeResponse"}}}},"400":{"description":"Bad request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Volume not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["Volumes"],"summary":"Update a volume content","description":"Update an existing volume in GDS and return upload credentials for that volume. ","operationId":"updateVolume","parameters":[{"name":"volumeId","in":"path","description":"Unique identifier for the volume to be updated.","required":true,"schema":{"type":"string"}},{"name":"include","in":"query","description":"Optionally include additional fields in the response.\r\n            Possible values: ObjectStoreAccess","schema":{"type":"string"}}],"requestBody":{"content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/UpdateVolumeRequest"}},"application/json":{"schema":{"$ref":"#/components/schemas/UpdateVolumeRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/UpdateVolumeRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/UpdateVolumeRequest"}}},"required":false},"responses":{"200":{"description":"Success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VolumeResponse"}}}},"400":{"description":"Bad request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Volume not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-codegen-request-body-name":"body"}}},"components":{"schemas":{"ArchiveStatuses":{"type":"string","description":"The valid Archive Status values for files in GDS","enum":["None","Archived","Unarchiving"]},"AWSS3ObjectStoreSetting":{"required":["bucketName"],"type":"object","properties":{"bucketName":{"maxLength":63,"minLength":3,"type":"string","description":"The bucket name"},"keyPrefix":{"pattern":"^[^/].*$","type":"string","description":"Key prefix within the bucket for GDS to operate within. Volumes may only be created within this prefix and the given credentials need only authorize\r\naccess here. If not set, default is to allow operation on the full bucket. No leading slash, and must end with a trailing slash."},"serverSideEncryptionAlgorithm":{"type":"string","description":"Used to specify the type of server-side encryption (SSE) to be used on the object provider.\r\nThis value is used to determine the Amazon S3 header \"x-amz-server-side-encryption\" value.\r\nFor example, specify \"AES256\" for SSE-S3, or \"AWS:KMS\" for SSE-KMS.\r\nBy default if none is specified, \"AES256\" will be used."},"serverSideEncryptionKey":{"type":"string","description":"Used to specify the serve-side encryption key that might be associated with the specified server-side encryption algorithm\r\nThis value can be the AWS KMS arn key, to be used for the Amazon S3 header \"x-amz-server-side-encryption-aws-kms-key-id\" value\r\nValue will be ignored if encryption is \"AES256\""}}},"AwsS3PresignedUrlForUpload":{"type":"object","properties":{"singlePartUrl":{"type":"string","description":"A single part presigned url for upload"},"multipartTemplate":{"type":"string","description":"A url template for multi parts presigned url for upload"},"multipartSignatures":{"type":"array","description":"Multi parts info that needs to be applied to the MultipartTemplate","items":{"$ref":"#/components/schemas/PartInfo"}},"multipartUploadId":{"type":"string","description":"Multi part upload id"},"serverSideEncryptionAlgorithm":{"type":"string","description":"The server side encryption method used by S3.\r\nThis value is used to determine the Amazon S3 header \"x-amz-server-side-encryption\" value.\r\nPossible values: 'AES256' and 'aws:kms'."},"serverSideEncryptionKey":{"type":"string","description":"Server-side encryption key that might be associated with the specified server-side encryption algorithm\r\nThis value can be the AWS KMS arn key, to be used for the Amazon S3 header \"x-amz-server-side-encryption-aws-kms-key-id\" value\r\nThis is only used when ServerSideEncryptionAlgorithm is 'aws:kms'"}},"description":"AwsS3PresignedUrlForUpload"},"AwsS3TemporaryUploadCredentials":{"type":"object","properties":{"access_Key_Id":{"type":"string","description":"Access key for use with AWS S3"},"secret_Access_Key":{"type":"string","description":"Secret key for use with AWS S3"},"session_Token":{"type":"string","description":"Token for use with AWS S3"},"region":{"type":"string","description":"AWS region the folder will/does reside in"},"bucketName":{"type":"string","description":"AWS bucket the folder will/does reside in"},"keyPrefix":{"type":"string","description":"AWS upload location for this folder"},"expirationDate":{"type":"string","description":"expiration for temporary credentials","format":"date-time"},"serviceUrl":{"type":"string","description":"Service endpoint for accessing S3.\r\nThis is optional for AWS S3, but mandatory for other services like Taiwan Computing Cloud."},"serverSideEncryptionAlgorithm":{"type":"string","description":"Used to specify the type of server-side encryption (SSE) to be used on the object provider.\r\nThis value is used to determine the Amazon S3 header \"x-amz-server-side-encryption\" value.\r\nFor example, specify \"AES256\" for SSE-S3, or \"AWS:KMS\" for SSE-KMS.\r\nBy default if none is specified, \"AES256\" will be used."},"serverSideEncryptionKey":{"type":"string","description":"Used to specify the serve-side encryption key that might be associated with the specified server-side encryption algorithm\r\nThis value can be the AWS KMS arn key, to be used for the Amazon S3 header \"x-amz-server-side-encryption-aws-kms-key-id\" value\r\nValue will be ignored if encryption is \"AES256\""}},"description":"AwsS3TemporaryUploadCredentials"},"BulkFailedItem":{"type":"object","properties":{"id":{"type":"string","description":"Id of resource that failed"},"errorResponse":{"$ref":"#/components/schemas/ErrorResponse"}}},"BulkFileUpdateItem":{"type":"object","properties":{"id":{"type":"string","description":"Id of this file"},"metadata":{"type":"object","description":"Metadata about this file and its contents"},"format":{"type":"string","description":"The File's Format"},"formatEdam":{"type":"string","description":"The File's Edam Format"},"lifeCycle":{"$ref":"#/components/schemas/FileLifeCycleSettings"}}},"BulkFileUpdateRequest":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/BulkFileUpdateItem"}},"timeOutInSeconds":{"type":"integer","format":"int32"}}},"BulkFileUpdateResponse":{"type":"object","properties":{"itemsFailed":{"type":"array","description":"Items failed to be updated with error details","items":{"$ref":"#/components/schemas/BulkUpdateFailedItem"}},"itemsUpdatedCount":{"type":"integer","description":"Total items successfully updated","format":"int32"},"itemsFailedCount":{"type":"integer","description":"Total items failed to be updated","format":"int32"}}},"BulkFolderUpdateItem":{"type":"object","properties":{"id":{"type":"string","description":"Id of this folder"},"metadata":{"type":"object","description":"Metadata about this folder and its contents"}}},"BulkFolderUpdateRequest":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/BulkFolderUpdateItem"}},"timeOutInSeconds":{"type":"integer","format":"int32"}}},"BulkFolderUpdateResponse":{"type":"object","properties":{"itemsFailed":{"type":"array","description":"Items failed to be updated with error details","items":{"$ref":"#/components/schemas/BulkUpdateFailedItem"}},"itemsUpdatedCount":{"type":"integer","description":"Total items successfully updated","format":"int32"},"itemsFailedCount":{"type":"integer","description":"Total items failed to be updated","format":"int32"}}},"BulkUpdateFailedItem":{"type":"object","properties":{"id":{"type":"string","description":"Id of resource that failed to be updated"},"errorResponse":{"$ref":"#/components/schemas/ErrorResponse"}}},"CompleteSessionRequest":{"required":["expectedSessionFileCount"],"type":"object","properties":{"expectedSessionFileCount":{"type":"integer","description":"User-defined count used for reconciling files uploaded when closing the session","format":"int32","x-omitempty":false}}},"CreateFileRequest":{"required":["name"],"type":"object","properties":{"name":{"pattern":"^[^/]+$","type":"string","description":"Name of the file to be uploaded, case sensitive."},"volumeId":{"type":"string","description":"Volume ID to which the file will be uploaded"},"folderPath":{"type":"string","description":"Optional folder path where the file will be uploaded to"},"type":{"type":"string","description":"Optional file content type, e.g. text/plain, application/json"},"volumeName":{"type":"string","description":"Name of the Volume"},"format":{"type":"string","description":"The File's Format"},"formatEdam":{"type":"string","description":"The File's Edam Format"},"metadata":{"type":"object","description":"Metadata about this file and its contents"}},"description":"CreateFileRequest Model"},"CreateFolderRequest":{"required":["name"],"type":"object","properties":{"name":{"pattern":"^[^/]+$","type":"string","description":"Folder name, unique to this path, for the folder being created"},"folderPath":{"type":"string","description":"Path from the root folder to the location for the folder being created; must start and end with '/'"},"volumeId":{"type":"string","description":"The unique identifier for this Folder's Volume"},"volumeName":{"type":"string","description":"The unique name for the Folder's Volume"},"metadata":{"type":"object","description":"Metadata about this folder and its contents"},"acl":{"type":"array","description":"Optional array to replace the acl on the resource.","items":{"type":"string"}}}},"CreateSessionRequest":{"type":"object","properties":{"metadata":{"type":"object","description":"Metadata about this session and its contents"}}},"CreateSessionResponse":{"type":"object","properties":{"objectStoreAccess":{"$ref":"#/components/schemas/ObjectStoreAccess"},"id":{"type":"string","description":"A unique identifier for this Session"},"folderUrn":{"type":"string","description":"The Universal Resource Name of the Folder associated with the Session"},"status":{"$ref":"#/components/schemas/SessionStatus"},"timeCreated":{"type":"string","description":"The date & time this Session was created, in GDS","format":"date-time"},"timeCredentialsExpire":{"type":"string","description":"The date & time this upload session expires","format":"date-time"},"timeClosed":{"type":"string","description":"The date & time this Session was closed, in GDS","format":"date-time"},"timeCompleted":{"type":"string","description":"The date & time this Session was completed, in GDS","format":"date-time"},"metadata":{"type":"object"}}},"CreateVolumeConfigurationRequest":{"required":["name","objectStoreSettings"],"type":"object","properties":{"name":{"type":"string","description":"Name for the volume configuration"},"objectStoreSettings":{"$ref":"#/components/schemas/ObjectStoreSettings"}}},"CreateVolumeRequest":{"required":["name"],"type":"object","properties":{"name":{"type":"string","description":"Name for the volume"},"volumeConfigurationName":{"type":"string","description":"Unique name of the volume configuration to use"},"rootKeyPrefix":{"pattern":"^(/)$|^([^/].*[/])$","type":"string","description":"The base bucket location for volumes associated with custom VolumeConfigurations. If not provided, the given volume Name is used.\r\nIf provided, it must start with the VolumeConfiguration's keyprefix and end with a /.\r\nTo create a volume representing the root of a bucket, use the value '/'."},"metadata":{"type":"object","description":"Metadata about this volume and its contents"},"lifeCycle":{"$ref":"#/components/schemas/VolumeLifeCycleSettings"}}},"CreateVolumeResponse":{"type":"object","properties":{"id":{"type":"string","description":"A unique identifier for this Volume"},"name":{"type":"string","description":"The name of this Volume"},"tenantId":{"type":"string","description":"The unique identifier for this Volume's Tenant"},"subTenantId":{"type":"string","description":"The unique identifier for this Volume's Sub Tenant"},"urn":{"type":"string","description":"The Universal Resource Name, unique to this Volume"},"rootFolderId":{"type":"string","description":"The unique identifier for the root Folder of this Volume"},"rootKeyPrefix":{"type":"string","description":"The base bucket location for Volumes associated with custom VolumeConfigurations otherwise this field is not set."},"volumeConfigurationName":{"type":"string","description":"Unique name of the Volume configuration for this Volume.\r\nThis field will only be set if a custom Volume configuration is associated."},"inheritedAcl":{"type":"array","description":"The inherited list of Id(s) that have access to this Volume","items":{"type":"string"}},"timeCreated":{"type":"string","description":"The date & time this Volume was created, in GDS","format":"date-time"},"createdBy":{"type":"string","description":"The creator of this Volume"},"timeModified":{"type":"string","description":"The date & time this Volume was updated, in GDS","format":"date-time"},"modifiedBy":{"type":"string","description":"The updator of this Volume"},"jobStatus":{"$ref":"#/components/schemas/JobStatus"},"metadata":{"type":"object","description":"Metadata about this Volume"},"lifeCycle":{"$ref":"#/components/schemas/VolumeLifeCycleSettings"},"importSessionId":{"type":"string","description":"Unique identifier of the import Session for this Volume. This only applies to Volumes created from custom\r\nVolume configurations."},"objectStoreAccess":{"$ref":"#/components/schemas/ObjectStoreAccess"}}},"ErrorResponse":{"type":"object","properties":{"code":{"type":"string","description":"Error code that uniquely identifies the type of error that occurred"},"message":{"type":"string","description":"Description of the error that occurred"},"details":{"type":"array","description":"Additional details for conditions that caused the error","items":{"type":"object"}}}},"FileArchiveRequest":{"required":["storageTier"],"type":"object","properties":{"storageTier":{"$ref":"#/components/schemas/FileArchiveStorageTier"}},"description":"FileArchiveRequest to specify the Storage Tier"},"FileArchiveStorageTier":{"type":"string","enum":["Archive","DeepArchive"]},"FileLifeCycleSettings":{"type":"object","properties":{"timeGracePeriodEnds":{"type":"string","description":"If set, date when billing for the file will start","format":"date-time"},"timeToBeArchived":{"type":"string","description":"If set, date when file will be archived","format":"date-time"},"timeToBeDeleted":{"type":"string","description":"If set, date when file will be deleted","format":"date-time"},"archiveStorageTier":{"$ref":"#/components/schemas/FileArchiveStorageTier"}}},"FileListResponse":{"type":"object","properties":{"items":{"type":"array","description":"Items in paged list","items":{"$ref":"#/components/schemas/FileResponse"}},"itemCount":{"type":"integer","description":"Number of items included in the page","format":"int32"},"firstPageToken":{"type":"string","description":"PageToken for first paged list"},"nextPageToken":{"type":"string","description":"PageToken for the next paged list"},"prevPageToken":{"type":"string","description":"PageToken for the previous paged list"},"lastPageToken":{"type":"string","description":"PageToken for the last paged list. Only included when totalItemCount is listed"},"totalItemCount":{"type":"integer","description":"Total number of items in all pages. Only included when requested","format":"int64"},"totalPageCount":{"type":"integer","description":"Total number of pages. Only included when totalItemCount is listed","format":"int64"}}},"FileResponse":{"type":"object","properties":{"volumeMetadata":{"type":"object","description":"Metadata about this file's volume"},"id":{"type":"string","description":"A unique identifier for this File"},"name":{"type":"string","description":"The name of this File"},"volumeId":{"type":"string","description":"The unique identifier of the volume where the file resides"},"parentFolderId":{"type":"string","description":"The unique identifier of the folder where the file resides"},"volumeName":{"type":"string","description":"The name of the volume where the file resides"},"volumeConfigurationName":{"type":"string","description":"The name of the volume configuration (BYOB only)"},"type":{"type":"string","description":"The type of the File"},"tenantId":{"type":"string","description":"The unique identifier for this File's Tenant"},"subTenantId":{"type":"string","description":"The unique identifier for this File's Sub Tenant"},"path":{"type":"string","description":"The (GDS) path to this File"},"timeCreated":{"type":"string","description":"The date & time this File was created, in GDS","format":"date-time"},"createdBy":{"type":"string","description":"The creator of this File"},"timeModified":{"type":"string","description":"The date & time this File was updated, in GDS","format":"date-time"},"modifiedBy":{"type":"string","description":"The updator of this File"},"inheritedAcl":{"type":"array","description":"The inherited list of Id(s) that have access to this File","items":{"type":"string"}},"urn":{"type":"string","description":"The Universal Resource Name, unique to this File"},"sizeInBytes":{"type":"integer","description":"The File's Size in bytes","format":"int64"},"metadata":{"type":"object","description":"Metadata about this File"},"isUploaded":{"type":"boolean","description":"The current upload state of the File"},"archiveStatus":{"$ref":"#/components/schemas/ArchiveStatuses"},"timeArchived":{"type":"string","description":"The date & time this File was archived","format":"date-time"},"storageTier":{"$ref":"#/components/schemas/StorageTier"},"eTag":{"type":"string","description":"The File's ETag"},"format":{"type":"string","description":"The File's Format"},"formatEdam":{"type":"string"},"status":{"$ref":"#/components/schemas/FileStatus"},"lifeCycle":{"$ref":"#/components/schemas/FileLifeCycleSettings"},"presignedUrl":{"type":"string","description":"The presigned Url allowing access to this File"}}},"FileStatus":{"type":"string","enum":["Partial","Available","Archived","Unarchiving"]},"FileUnarchiveRequest":{"required":["restoreSpeed"],"type":"object","properties":{"restoreSpeed":{"type":"string","description":"The desired Restore Speed to move the File to the Standard Storage Tier. Valid values are Economy and Standard."}},"description":"FileUnarchiveRequest to specify the RestoreSpeed"},"FileUploadCompleteRequest":{"type":"object","properties":{"multipartUploadId":{"type":"string","description":"The multipart upload id used by the object store"},"partEtags":{"type":"array","description":"etags for each uploaded part (optional for files that uses multipart upload)","items":{"$ref":"#/components/schemas/PartEtag"}}},"description":"FileUploadCompleteRequest"},"FileWriteableResponse":{"type":"object","properties":{"id":{"type":"string","description":"A unique identifier for this File"},"name":{"type":"string","description":"The name of this File"},"volumeId":{"type":"string","description":"The unique identifier of the volume where the file resides"},"parentFolderId":{"type":"string","description":"The unique identifier of the folder where the file resides"},"volumeName":{"type":"string","description":"The name of the volume where the file resides"},"volumeConfigurationName":{"type":"string","description":"The name of the volume configuration (BYOB only)"},"type":{"type":"string","description":"The type of the File"},"tenantId":{"type":"string","description":"The unique identifier for this File's Tenant"},"subTenantId":{"type":"string","description":"The unique identifier for this File's Sub Tenant"},"path":{"type":"string","description":"The (GDS) path to this File"},"timeCreated":{"type":"string","description":"The date & time this File was created, in GDS","format":"date-time"},"createdBy":{"type":"string","description":"The creator of this File"},"timeModified":{"type":"string","description":"The date & time this File was updated, in GDS","format":"date-time"},"modifiedBy":{"type":"string","description":"The updator of this File"},"inheritedAcl":{"type":"array","description":"The inherited list of Id(s) that have access to this File","items":{"type":"string"}},"urn":{"type":"string","description":"The Universal Resource Name, unique to this File"},"sizeInBytes":{"type":"integer","description":"The File's Size in bytes","format":"int64"},"metadata":{"type":"object","description":"Metadata about this File"},"isUploaded":{"type":"boolean","description":"The current upload state of the File"},"archiveStatus":{"$ref":"#/components/schemas/ArchiveStatuses"},"timeArchived":{"type":"string","description":"The date & time this File was archived","format":"date-time"},"storageTier":{"$ref":"#/components/schemas/StorageTier"},"eTag":{"type":"string","description":"The File's ETag"},"format":{"type":"string","description":"The File's Format"},"formatEdam":{"type":"string"},"status":{"$ref":"#/components/schemas/FileStatus"},"lifeCycle":{"$ref":"#/components/schemas/FileLifeCycleSettings"},"objectStoreAccess":{"$ref":"#/components/schemas/ObjectStoreAccess"}}},"FolderArchiveRequest":{"required":["storageTier"],"type":"object","properties":{"storageTier":{"$ref":"#/components/schemas/FolderArchiveStorageTier"}},"description":"FolderArchiveRequest to specify the Storage Tier"},"FolderArchiveStorageTier":{"type":"string","enum":["Archive","DeepArchive"]},"FolderCopyOperationParameters":{"type":"object","properties":{"sourceFolderUrn":{"type":"string","description":"The Urn of the source folder for the copy operation"},"targetFolderUrn":{"type":"string","description":"The Urn of the target folder for the copy operation"},"destinationFolderName":{"type":"string","description":"The folder name for the copied folder"}},"description":"Operation parameters for folder copy operations"},"FolderCopyRequest":{"required":["targetParentFolderId"],"type":"object","properties":{"targetParentFolderId":{"type":"string","description":"The parent folder into which the source folder will be copied."},"destinationFolderName":{"pattern":"^[^/]+$","type":"string","description":"A new name for the destination folder. Required if target parent folder is the same as the destination folder.\r\nWhen optional and not provided, the source folder name is used as the destination folder name."}}},"FolderDeleteOperationParameters":{"type":"object","properties":{"folderUrn":{"type":"string","description":"The Urn of the folder for the delete operation"}},"description":"Operation parameters for folder delete operations"},"FolderListResponse":{"type":"object","properties":{"items":{"type":"array","description":"Items in paged list","items":{"$ref":"#/components/schemas/FolderResponse"}},"itemCount":{"type":"integer","description":"Number of items included in the page","format":"int32"},"firstPageToken":{"type":"string","description":"PageToken for first paged list"},"nextPageToken":{"type":"string","description":"PageToken for the next paged list"},"prevPageToken":{"type":"string","description":"PageToken for the previous paged list"},"lastPageToken":{"type":"string","description":"PageToken for the last paged list. Only included when totalItemCount is listed"},"totalItemCount":{"type":"integer","description":"Total number of items in all pages. Only included when requested","format":"int64"},"totalPageCount":{"type":"integer","description":"Total number of pages. Only included when totalItemCount is listed","format":"int64"}}},"FolderResponse":{"type":"object","properties":{"id":{"type":"string","description":"A unique identifier for this Folder"},"name":{"type":"string","description":"The name of this Folder"},"volumeId":{"type":"string","description":"The unique identifier for this Folder's Volume"},"parentFolderId":{"type":"string","description":"The unique identifier for this folder's parent folder"},"volumeName":{"type":"string","description":"The name of this Folder's Volume"},"tenantId":{"type":"string","description":"The unique identifier for this Folders's Tenant"},"subTenantId":{"type":"string","description":"The unique identifier for this Folder's Sub Tenant"},"urn":{"type":"string","description":"The Universal Resource Name, unique to this Folder"},"path":{"type":"string","description":"The (GDS) folder path to this Folder"},"acl":{"type":"array","description":"The list of directly specified Id(s) that have access to this Folder","items":{"type":"string"}},"inheritedAcl":{"type":"array","description":"The inherited list of Id(s) that have access to this Folder","items":{"type":"string"}},"timeCreated":{"type":"string","description":"The date & time this Folder was created, in GDS","format":"date-time"},"createdBy":{"type":"string","description":"The creator of this Folder"},"timeModified":{"type":"string","description":"The date & time this Folder was updated, in GDS","format":"date-time"},"modifiedBy":{"type":"string","description":"The updator of this Folder"},"metadata":{"type":"object","description":"Metadata about this folder"},"volumeMetadata":{"type":"object","description":"Metadata about this folder's volume"},"jobStatus":{"$ref":"#/components/schemas/JobStatus"},"jobId":{"type":"string","description":"The job identifier for the current folder operation. Currently only being used for the delete folder operation."},"archiveJobStorageTier":{"$ref":"#/components/schemas/StorageTier"}}},"FolderUnarchiveRequest":{"required":["restoreSpeed"],"type":"object","properties":{"restoreSpeed":{"type":"string","description":"The desired Restore Speed to move the Files in the Folder to the Standard Storage Tier. Valid values are Economy and Standard."}}},"FolderUpdateRequest":{"type":"object","properties":{"metadata":{"type":"object","description":"Metadata about this folder and its contents"},"acl":{"type":"array","description":"Optional array to replace the acl on the resource.","items":{"type":"string"}}}},"FolderWriteableResponse":{"type":"object","properties":{"id":{"type":"string","description":"A unique identifier for this Folder"},"name":{"type":"string","description":"The name of this Folder"},"volumeId":{"type":"string","description":"The unique identifier for this Folder's Volume"},"parentFolderId":{"type":"string","description":"The unique identifier for this folder's parent folder"},"volumeName":{"type":"string","description":"The name of this Folder's Volume"},"tenantId":{"type":"string","description":"The unique identifier for this Folders's Tenant"},"subTenantId":{"type":"string","description":"The unique identifier for this Folder's Sub Tenant"},"urn":{"type":"string","description":"The Universal Resource Name, unique to this Folder"},"path":{"type":"string","description":"The (GDS) folder path to this Folder"},"acl":{"type":"array","description":"The list of directly specified Id(s) that have access to this Folder","items":{"type":"string"}},"inheritedAcl":{"type":"array","description":"The inherited list of Id(s) that have access to this Folder","items":{"type":"string"}},"timeCreated":{"type":"string","description":"The date & time this Folder was created, in GDS","format":"date-time"},"createdBy":{"type":"string","description":"The creator of this Folder"},"timeModified":{"type":"string","description":"The date & time this Folder was updated, in GDS","format":"date-time"},"modifiedBy":{"type":"string","description":"The updator of this Folder"},"metadata":{"type":"object","description":"Metadata about this folder"},"volumeMetadata":{"type":"object","description":"Metadata about this folder's volume"},"jobStatus":{"$ref":"#/components/schemas/JobStatus"},"jobId":{"type":"string","description":"The job identifier for the current folder operation. Currently only being used for the delete folder operation."},"archiveJobStorageTier":{"$ref":"#/components/schemas/StorageTier"},"objectStoreAccess":{"$ref":"#/components/schemas/ObjectStoreAccess"}}},"GracePeriodEndAction":{"type":"string","enum":["None","Archive","DeepArchive","Delete"]},"JobOperationParameters":{"type":"object","properties":{"folderCopy":{"$ref":"#/components/schemas/FolderCopyOperationParameters"},"folderDelete":{"$ref":"#/components/schemas/FolderDeleteOperationParameters"}},"description":"Container for XXXOperationParameters objects, which have additional details related to the specific job operation type.\r\nOnly one object will be populated."},"JobOperationType":{"type":"string","description":"The valid job operation type values for resources in GDS","enum":["Unknown","FolderArchive","FolderUnarchive","FolderDelete","FolderCopy"]},"JobProgressStatus":{"type":"string","description":"The valid Job Status values for folders in GDS.","enum":["Pending","InProgress","Completed","Failed"]},"JobResponse":{"type":"object","properties":{"id":{"type":"string","description":"A unique identifier for this Job"},"parentFolderUrn":{"type":"string","description":"The Universal Resource Name of the parent folder associated with the Job"},"operationType":{"$ref":"#/components/schemas/JobOperationType"},"operationParameters":{"$ref":"#/components/schemas/JobOperationParameters"},"progressStatus":{"$ref":"#/components/schemas/JobProgressStatus"},"timeCreated":{"type":"string","description":"The date & time this Folder was created, in GDS","format":"date-time"},"createdBy":{"type":"string","description":"The creator of this Job"},"timeModified":{"type":"string","description":"The date & time this Job was updated, in GDS","format":"date-time"},"timeCompleted":{"type":"string","description":"The date & time this Job was completed, in GDS","format":"date-time"}}},"JobStatus":{"type":"string","description":"This enum was originally created to store the type of job on a folder or file entity. \r\nThe Job entity is now used to track this information for copy operations, with the Illumina.Gds.Api.Models.Enums.JobOperationType \r\nand Illumina.Gds.Api.Models.Enums.JobProgressStatus used to record the type and progress status of the job.","enum":["None","Archiving","Unarchiving","Deleting"]},"ObjectStoreAccess":{"type":"object","properties":{"sessionId":{"type":"string"},"awsS3TemporaryUploadCredentials":{"$ref":"#/components/schemas/AwsS3TemporaryUploadCredentials"},"awsS3PresignedUrlForUpload":{"$ref":"#/components/schemas/AwsS3PresignedUrlForUpload"}},"description":"ObjectStoreAccess to get the temporaryCredentials per provider"},"ObjectStoreSettings":{"type":"object","properties":{"awsS3":{"$ref":"#/components/schemas/AWSS3ObjectStoreSetting"},"secretName":{"type":"string","description":"Platform credentials Name\r\nMust provide either SecretId or SecretName"},"secretId":{"type":"string","description":"Platform credentials Id\r\nMust provide either SecretId or SecretName"}}},"PartEtag":{"type":"object","properties":{"part":{"type":"integer","description":"Part number","format":"int32","example":1},"etag":{"type":"string","description":"Etag response for the part upload"}},"description":"PartEtag"},"PartInfo":{"type":"object","properties":{"part":{"type":"integer","description":"Part number to be applied to {part} in MultipartTemplate","format":"int32"},"date":{"type":"string","description":"Date to be applied to {date} in MultipartTemplate"},"dateTime":{"type":"string","description":"DateTime to be applied to {datetime} in MultipartTemplate"},"signature":{"type":"string","description":"Signature to be applied to {signature} in MultipartTemplate"}},"description":"PartInfo of multi parts presigned url for upload"},"SessionResponse":{"type":"object","properties":{"id":{"type":"string","description":"A unique identifier for this Session"},"folderUrn":{"type":"string","description":"The Universal Resource Name of the Folder associated with the Session"},"status":{"$ref":"#/components/schemas/SessionStatus"},"timeCreated":{"type":"string","description":"The date & time this Session was created, in GDS","format":"date-time"},"timeCredentialsExpire":{"type":"string","description":"The date & time this upload session expires","format":"date-time"},"timeClosed":{"type":"string","description":"The date & time this Session was closed, in GDS","format":"date-time"},"timeCompleted":{"type":"string","description":"The date & time this Session was completed, in GDS","format":"date-time"},"metadata":{"type":"object"}}},"SessionStatus":{"type":"string","enum":["Open","Closed","Completed","CompletedWithError"]},"StorageTier":{"type":"string","description":"StorageTier","enum":["None","Standard","Archive","DeepArchive"]},"UpdateFileRequest":{"type":"object","properties":{"type":{"type":"string","description":"The new file type (e.g. \"text/plain\")."},"format":{"type":"string","description":"The File's Format"},"formatEdam":{"type":"string","description":"The File's Edam Format"},"lifeCycle":{"$ref":"#/components/schemas/FileLifeCycleSettings"},"metadata":{"type":"object","description":"Metadata about this file and its contents"}}},"UpdateVolumeRequest":{"type":"object","properties":{"metadata":{"type":"object","description":"Metadata about this volume and its contents"},"lifeCycle":{"$ref":"#/components/schemas/VolumeLifeCycleSettings"}}},"VolumeConfigurationListResponse":{"type":"object","properties":{"items":{"type":"array","description":"Items in paged list","items":{"$ref":"#/components/schemas/VolumeConfigurationResponse"}},"itemCount":{"type":"integer","description":"Number of items included in the page","format":"int32"},"firstPageToken":{"type":"string","description":"PageToken for first paged list"},"nextPageToken":{"type":"string","description":"PageToken for the next paged list"},"prevPageToken":{"type":"string","description":"PageToken for the previous paged list"},"lastPageToken":{"type":"string","description":"PageToken for the last paged list. Only included when totalItemCount is listed"},"totalItemCount":{"type":"integer","description":"Total number of items in all pages. Only included when requested","format":"int64"},"totalPageCount":{"type":"integer","description":"Total number of pages. Only included when totalItemCount is listed","format":"int64"}}},"VolumeConfigurationOnlineStatus":{"type":"string","description":"The valid Online Status values for Volume configurations in GDS","enum":["Initializing","Ok","Error"]},"VolumeConfigurationResponse":{"type":"object","properties":{"name":{"type":"string","description":"Name for the volume configuration"},"tenantId":{"type":"string","description":"The unique identifier for this Volume Configuration's Tenant"},"subTenantId":{"type":"string","description":"The unique identifier for this Volume Configurations's Sub Tenant"},"urn":{"type":"string","description":"The Universal Resource Name, unique to this Volume Configuration"},"onlineStatus":{"$ref":"#/components/schemas/VolumeConfigurationOnlineStatus"},"errorCode":{"type":"string","description":"Error code returned from the object store"},"errorMessage":{"type":"string","description":"Error message returned from the object store"},"timeOfLastError":{"type":"string","description":"Timestamp of the last observed error.","format":"date-time"},"timeCreated":{"type":"string","description":"The date & time this Volume was created, in GDS","format":"date-time"},"createdBy":{"type":"string","description":"The creator of this Volume"},"timeModified":{"type":"string","description":"The date & time this Volume was updated, in GDS","format":"date-time"},"modifiedBy":{"type":"string","description":"The updator of this Volume"},"objectStoreSettings":{"$ref":"#/components/schemas/ObjectStoreSettings"}}},"VolumeFileListRequest":{"type":"object","properties":{"volumeId":{"type":"string","description":"Volume identifier"},"fileIds":{"type":"array","description":"File identifiers to list","items":{"type":"string"}},"includePresignedUrl":{"type":"boolean","description":"Optional parameter that returns presigned URL for each file when set to true"},"presignedUrlMode":{"type":"string","description":"Optional parameter to specify presigned url's content-disposition. If not specified, the browser will determine the default behavior.\r\nPossible values: Attachment, Inline, Browser"}},"description":"Request for listing files within a volume"},"VolumeFileListResponse":{"type":"object","properties":{"items":{"type":"array","description":"Retrieved files","items":{"$ref":"#/components/schemas/FileResponse"}},"itemSuccessCount":{"type":"integer","description":"Number of items that succeeded","format":"int32"},"itemFailedCount":{"type":"integer","description":"Number of items that failed","format":"int32"},"itemsFailed":{"type":"array","description":"Item failures with error details","items":{"$ref":"#/components/schemas/BulkFailedItem"}}}},"VolumeLifeCycleSettings":{"type":"object","properties":{"gracePeriodDays":{"type":"integer","description":"Number of days before the files associated to this volume expires","format":"int32"},"gracePeriodEndAction":{"$ref":"#/components/schemas/GracePeriodEndAction"}}},"VolumeListResponse":{"type":"object","properties":{"items":{"type":"array","description":"Items in paged list","items":{"$ref":"#/components/schemas/VolumeResponse"}},"itemCount":{"type":"integer","description":"Number of items included in the page","format":"int32"},"firstPageToken":{"type":"string","description":"PageToken for first paged list"},"nextPageToken":{"type":"string","description":"PageToken for the next paged list"},"prevPageToken":{"type":"string","description":"PageToken for the previous paged list"},"lastPageToken":{"type":"string","description":"PageToken for the last paged list. Only included when totalItemCount is listed"},"totalItemCount":{"type":"integer","description":"Total number of items in all pages. Only included when requested","format":"int64"},"totalPageCount":{"type":"integer","description":"Total number of pages. Only included when totalItemCount is listed","format":"int64"}}},"VolumeResponse":{"type":"object","properties":{"id":{"type":"string","description":"A unique identifier for this Volume"},"name":{"type":"string","description":"The name of this Volume"},"tenantId":{"type":"string","description":"The unique identifier for this Volume's Tenant"},"subTenantId":{"type":"string","description":"The unique identifier for this Volume's Sub Tenant"},"urn":{"type":"string","description":"The Universal Resource Name, unique to this Volume"},"rootFolderId":{"type":"string","description":"The unique identifier for the root Folder of this Volume"},"rootKeyPrefix":{"type":"string","description":"The base bucket location for Volumes associated with custom VolumeConfigurations otherwise this field is not set."},"volumeConfigurationName":{"type":"string","description":"Unique name of the Volume configuration for this Volume.\r\nThis field will only be set if a custom Volume configuration is associated."},"inheritedAcl":{"type":"array","description":"The inherited list of Id(s) that have access to this Volume","items":{"type":"string"}},"timeCreated":{"type":"string","description":"The date & time this Volume was created, in GDS","format":"date-time"},"createdBy":{"type":"string","description":"The creator of this Volume"},"timeModified":{"type":"string","description":"The date & time this Volume was updated, in GDS","format":"date-time"},"modifiedBy":{"type":"string","description":"The updator of this Volume"},"jobStatus":{"$ref":"#/components/schemas/JobStatus"},"metadata":{"type":"object","description":"Metadata about this Volume"},"lifeCycle":{"$ref":"#/components/schemas/VolumeLifeCycleSettings"}}}},"securitySchemes":{"Bearer":{"type":"apiKey","description":"JWT Authorization header using the Bearer scheme. Example: \"Authorization: Bearer {token}\"","name":"Authorization","in":"header"}}}}