{"openapi":"3.0.1","info":{"title":"Developer Console Service","version":"v1"},"servers":[{"url":"https://aps2.platform.illumina.com/"}],"security":[{"Bearer":[]},{"Basic":[]}],"paths":{"/v1/accounts/{accountId}":{"get":{"tags":["Accounts"],"summary":"Get requested account id info require authorization Bearer token","description":"Get requested account id info","operationId":"getAccount","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The account information returned successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountResponse"}}}},"401":{"description":"The provided token is unauthorized.","content":{}},"403":{"description":"You do not have permission to access this resource.","content":{}},"404":{"description":"The resource was not found at the given path.","content":{}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{}}}}},"/v1/health":{"get":{"tags":["Health"],"summary":"Returns the health status for all services.","description":"Returns the health status for all services.","operationId":"serviceHealth","responses":{"200":{"description":"Health check succeeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SystemHealthResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/projects":{"get":{"tags":["Projects"],"summary":"Get a list of available projects. Requires user authorization Bearer token.","description":"Get a list of available projects","operationId":"listProjects","parameters":[{"name":"pageToken","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"Projects returned successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectPagedItems"}}}},"400":{"description":"The provided page token is invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"The provided access token is unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/regions":{"get":{"tags":["Regions"],"summary":"Get a list of available regions","description":"Get a list of available regions","operationId":"listRegions","parameters":[{"name":"instrumentType","in":"query","description":"Instrument type","schema":{"type":"string"}},{"name":"version","in":"query","description":"Instrument version","schema":{"type":"string"}}],"responses":{"200":{"description":"Regions found and returned successfully.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Region"}}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{}}}}},"/v1/tokens":{"post":{"tags":["Tokens"],"summary":"Creates a JWT token to call IAP services.","description":"This endpoint creates a JWT token to call IAP services. Authorization can be a Bearer psToken,  Basic Base64 encoded username:password or Basic with apiKey.","operationId":"createToken","parameters":[{"name":"X-API-Key","in":"header","description":"Api Key can be passed in header to generate a JWT.","schema":{"type":"string"}},{"name":"clientId","in":"query","description":"Optionally pass client Id from calling app to set as authorized party on JWT.","schema":{"type":"string"}},{"name":"api_key","in":"query","description":"OBSOLETE: api key should now be passed as as an X-API-Key header.","schema":{"type":"string"}},{"name":"domain","in":"query","description":"Optionally pass the domain name you are logging into","schema":{"type":"string"}},{"name":"data","in":"query","description":"Data is a custom meta data field that will be applied to the session field in the JWT payload.","schema":{"type":"string"}},{"name":"scopes","in":"query","description":"Scopes can be passed in during token generation to limit the token to particular scopes.","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"cwid","in":"query","description":"Set the current workgroup on the token. Used for aligning resources to a workgroup.","schema":{"type":"string"}},{"name":"cid","in":"query","description":"Set the current context on the token. Used for aligning resources to a context.","schema":{"type":"string"}},{"name":"returnSessionToken","in":"query","description":"By default, this endpoint returns a JWT token. You can specify returnSessionToken=true to get an Illumina psToken instead.","schema":{"type":"boolean"}}],"responses":{"201":{"description":"The Token is created successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenResponse"}}}},"400":{"description":"An invalid or missing input parameter will result in a bad request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"The acting identity cannot be authenticated and authorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"The acting identity is not authorized to subscribe to the given event type or deliver to the given delivery target.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["Tokens"],"summary":"Revokes an access token.","description":"This endpoint revokes the access token that is passed in.","operationId":"revokeToken","requestBody":{"description":"Access token request accepts either a psToken or a JWT in the access_token field in the body of the request.","content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/AccessTokenRequest"}},"application/json":{"schema":{"$ref":"#/components/schemas/AccessTokenRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/AccessTokenRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/AccessTokenRequest"}}},"required":false},"responses":{"204":{"description":"Succeeded and the token has been revoked.","content":{}},"400":{"description":"An invalid or missing input parameter will result in a bad request.\"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-codegen-request-body-name":"body"}},"/v1/tokens:refresh":{"post":{"tags":["Tokens"],"summary":"Refresh session psToken.","description":"This endpoint extends the session for the psToken.","operationId":"refreshToken","requestBody":{"description":"Access token request accepts a psToken in the access_token field in the body of the request.","content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/AccessTokenRequest"}},"application/json":{"schema":{"$ref":"#/components/schemas/AccessTokenRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/AccessTokenRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/AccessTokenRequest"}}},"required":false},"responses":{"201":{"description":"The Token was refreshed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenResponse"}}}},"400":{"description":"An invalid or missing input parameter will result in a bad request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"The token is no longer able to be refreshed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-codegen-request-body-name":"body"}},"/v1/tokens/details":{"get":{"tags":["Tokens"],"summary":"Get current tokens info require authorization Bearer token","description":"Get token details","operationId":"getTokenDetails","responses":{"200":{"description":"Token details returned successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenDetailResponse"}}}},"401":{"description":"The token provided is unauthorized.","content":{}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{}}}}},"/v1/usages":{"get":{"tags":["Usages"],"summary":"Get current tenant's usage detail by period.  Default returns current period usage data. ","description":"This endpoint provides the ability for the user to get the aggregated usage data","operationId":"getUsage","parameters":[{"name":"periods","in":"query","schema":{"maximum":6,"minimum":1,"type":"integer","format":"int32"}}],"responses":{"200":{"description":"The usages are returned successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UsageResponse"}}}},"400":{"description":"An invalid or missing input parameter will result in a bad request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"The acting identity cannot be authenticated and authorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"The acting identity is not authorized to subscribe to the given event type or deliver to the given delivery target.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/usages/details":{"get":{"tags":["Usages"],"summary":"Get current tenant's usage detail by period.  Default returns current period usage data. ","description":"This endpoint provides the billing details for specified period id. Summarize each compute usage and daily gds usage","operationId":"getUsageDetails","parameters":[{"name":"periodId","in":"query","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"The usages are returned successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UsageResponse"}}}},"400":{"description":"An invalid or missing input parameter will result in a bad request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"The acting identity cannot be authenticated and authorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"The acting identity is not authorized to subscribe to the given event type or deliver to the given delivery target.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/usages/periods":{"get":{"tags":["Usages"],"summary":"Get periods detail info ","description":"This endpoint provides the periods details","operationId":"getUsagePeriods","parameters":[{"name":"limit","in":"query","schema":{"type":"integer","format":"int32","default":26}}],"responses":{"200":{"description":"The periods are returned successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UsageResponse"}}}},"400":{"description":"An invalid or missing input parameter will result in a bad request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"The acting identity cannot be authenticated and authorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"The acting identity is not authorized to subscribe to the given event type or deliver to the given delivery target.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/workgroups":{"get":{"tags":["Workgroups"],"summary":"Get a list of available workgroups. Requires session token (psToken) authorization Bearer token","description":"Get a list of available workgroups","operationId":"listWorkgroups","responses":{"200":{"description":"Workgroups returned successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkgroupResponse"}}}},"401":{"description":"The provided session token is unauthorized.","content":{}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{}}}}}},"components":{"schemas":{"Domain":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"}}},"AccountResponse":{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string"},"name":{"type":"string"},"domain":{"$ref":"#/components/schemas/Domain"}}},"HealthCheckStatuses":{"type":"integer","description":"Health status","format":"int32","enum":[0,1,2,3]},"ServiceHealthResponse":{"type":"object","properties":{"name":{"type":"string","description":"Name of the service"},"status":{"$ref":"#/components/schemas/HealthCheckStatuses"},"version":{"type":"string","description":"Current version for the deployed service"}},"description":"Describes the individual health of all services in the platform"},"SystemHealthResponse":{"type":"object","properties":{"status":{"$ref":"#/components/schemas/HealthCheckStatuses"},"details":{"type":"array","description":"Service health details","items":{"$ref":"#/components/schemas/ServiceHealthResponse"}}},"description":"The overall health of the platform"},"ErrorResponse":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"details":{"type":"array","items":{"type":"object","properties":{}}}}},"Project":{"type":"object","properties":{"id":{"type":"string"},"urn":{"type":"string"},"name":{"type":"string"},"owner":{"type":"string"},"timeCreated":{"type":"string","format":"date-time"},"timeModified":{"type":"string","format":"date-time"}}},"ProjectPagedItems":{"type":"object","properties":{"items":{"type":"array","description":"Items in paged list","items":{"$ref":"#/components/schemas/Project"}},"itemCount":{"type":"integer","description":"Number of items included in the page","format":"int32"},"firstPageToken":{"type":"string","description":"PageToken for first paged list"},"nextPageToken":{"type":"string","description":"PageToken for the next paged list"},"prevPageToken":{"type":"string","description":"PageToken for the previous paged list"},"lastPageToken":{"type":"string","description":"PageToken for the last paged list. Only included when totalItemCount is listed"},"totalItemCount":{"type":"integer","description":"Total number of items in all pages. Only included when requested","format":"int64"},"totalPageCount":{"type":"integer","description":"Total number of pages. Only included when totalItemCount is listed","format":"int64"}},"description":"Paged list response"},"Region":{"type":"object","properties":{"name":{"type":"string","description":"Name of the environment"},"displayName":{"type":"string","description":"Display name for the environment"},"baseUrl":{"type":"string","description":"BaseUrl for the environment"},"isEnabled":{"type":"boolean","description":"True if the environment is enabled"}},"description":"Resource representing environment details"},"TokenResponse":{"type":"object","properties":{"access_token":{"type":"string","description":"The returned token is either a psToken or a JWT token depending on the context of the call."},"token_type":{"type":"string","description":"The type of token requested."}},"description":"Response payload for token create"},"AccessTokenRequest":{"type":"object","properties":{"access_token":{"type":"string","description":"This is either a psToken or a JWT token depending on the context of the call."}},"description":"Access token passed into an api request"},"Workgroup":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"}}},"TokenDetailResponse":{"type":"object","properties":{"uid":{"type":"string"},"name":{"type":"string"},"username":{"type":"string"},"currentWorkgroup":{"$ref":"#/components/schemas/Workgroup"},"tid":{"type":"string"},"acls":{"type":"array","items":{"type":"string"}},"domain":{"$ref":"#/components/schemas/Domain"}}},"ProductUsage":{"required":["amount","type","unit"],"type":"object","properties":{"type":{"type":"string"},"amount":{"type":"number","format":"double"},"unit":{"type":"string"},"iCredit":{"type":"number","format":"double"}}},"User":{"type":"object","properties":{"fullName":{"type":"string"},"userName":{"type":"string"},"domain":{"$ref":"#/components/schemas/Domain"},"type":{"type":"string"}}},"UserAggregatedUsage":{"type":"object","properties":{"user":{"$ref":"#/components/schemas/User"},"iCredit":{"type":"number","format":"double"},"usages":{"type":"array","items":{"$ref":"#/components/schemas/ProductUsage"}}}},"PeriodUsageSummary":{"type":"object","properties":{"start":{"type":"string","format":"date-time"},"end":{"type":"string","format":"date-time"},"iCredit":{"type":"integer","format":"int32"},"totalUsages":{"type":"array","items":{"$ref":"#/components/schemas/ProductUsage"}},"userAggregatedUsages":{"type":"array","items":{"$ref":"#/components/schemas/UserAggregatedUsage"}}}},"UsageResponse":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/PeriodUsageSummary"}}}},"WorkgroupResponse":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/Workgroup"}}}}},"securitySchemes":{"Bearer":{"type":"apiKey","description":"Authorization header using Bearer scheme with token. Example: \"Bearer {token}\"","name":"Authorization","in":"header"},"Basic":{"type":"http","description":"Basic Authorization","scheme":"basic"}}}}