{"openapi":"3.0.1","info":{"title":"Task Execution Service","version":"v1"},"servers":[{"url":"https://aps2.platform.illumina.com/"}],"security":[{"Bearer":[]}],"paths":{"/v1/tasks":{"get":{"tags":["Tasks"],"summary":"Get a list of tasks","description":"Gets a list of tasks accessible by the current tenant ID.","operationId":"listTasks","parameters":[{"name":"names","in":"query","description":"Name: Optional parameter to filter the returned list. Case-Sensitive","schema":{"type":"string"}},{"name":"acls","in":"query","description":"Name: Optional parameter to filter the returned list. Case-Sensitive","schema":{"type":"string"}},{"name":"pageSize","in":"query","description":"Optional parameter to define the page size returned. Valid inputs range from 1-1000.","schema":{"type":"integer","format":"int32","default":10}},{"name":"sort","in":"query","description":"Sort: Optional parameter to set the sort of the returned list. Valid fields include: name, timeCreated, timeModified.\r\nThe sort can be specified as asc or desc. (Default: asc.)","schema":{"type":"string","default":"timeCreated asc"}},{"name":"pageToken","in":"query","description":"pageToken: Optional parameter for navigation after initial listing. Valid values include firstPageToken,\r\nnextPageToken, and previousPageToken (provided in the list response)","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskSummaryPagedItems"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"tags":["Tasks"],"summary":"Create a Task","description":"Creates a task. Returns the ID associated with the new task. Also returns the task version ID associated with the new task, if provided. Substitutions can be defined in the following format: \"{{string}}\", and specified at launch time.","operationId":"createTask","requestBody":{"content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/CreateTaskRequest"}},"application/json":{"schema":{"$ref":"#/components/schemas/CreateTaskRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/CreateTaskRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/CreateTaskRequest"}}},"required":false},"responses":{"201":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Task"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-codegen-request-body-name":"body"}},"/v1/tasks/{taskId}":{"get":{"tags":["Tasks"],"summary":"Get the details of a Task","description":"Gets the details of a Task for a given task ID.","operationId":"getTask","parameters":[{"name":"taskId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskSummary"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["Tasks"],"summary":"Update an existing task.","description":"Updates the task with a given ID. The task's name, description can be updated. The task's name must remain unique.","operationId":"updateTask","parameters":[{"name":"taskId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Details of the task to be updated.","content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/UpdateTaskRequest"}},"application/json":{"schema":{"$ref":"#/components/schemas/UpdateTaskRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/UpdateTaskRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/UpdateTaskRequest"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Task"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-codegen-request-body-name":"body"}},"/v1/tasks/runs":{"get":{"tags":["Task Runs"],"summary":"Get a list of task runs","description":"Get a list of task runs accessible by the current tenant ID.","operationId":"listTaskRuns","parameters":[{"name":"sort","in":"query","description":"Sort: Optional parameter to set the sort of the returned list. Valid fields include: name, status, timeCreated, timeModified.\r\nThe sort can be specified as asc or desc. (Default: asc.)","schema":{"type":"string"}},{"name":"names","in":"query","schema":{"type":"string"}},{"name":"status","in":"query","schema":{"type":"string"}},{"name":"versions","in":"query","schema":{"type":"string"}},{"name":"acls","in":"query","schema":{"type":"string"}},{"name":"pageSize","in":"query","description":"Optional parameter to define the page size returned. Valid inputs range from 1-1000.","schema":{"type":"integer","format":"int32","default":10}},{"name":"pageToken","in":"query","description":"pageToken: Optional parameter for navigation after initial listing. Valid values include firstPageToken,\r\nnextPageToken, and previousPageToken (provided in the list response)","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskRunSummaryPagedItems"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"tags":["Task Runs"],"summary":"Create and launch a task run","description":"Creates and launches a task run. Returns the ID and status associated with the new task run.","operationId":"createTaskRun","requestBody":{"content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/CreateTaskRunRequest"}},"application/json":{"schema":{"$ref":"#/components/schemas/CreateTaskRunRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/CreateTaskRunRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/CreateTaskRunRequest"}}},"required":false},"responses":{"201":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskRun"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-codegen-request-body-name":"body"}},"/v1/tasks/runs/{runId}":{"get":{"tags":["Task Runs"],"summary":"Get the status of a task run","description":"Gets the status of a task run for a given task run ID.","operationId":"getTaskRun","parameters":[{"name":"runId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskRun"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/tasks/runs/{runId}:abort":{"put":{"tags":["Task Runs"],"summary":"Abort a task run","description":"Aborts a task run for a given task run ID. The task run is required to have a status of \"Pending\" or \"Running\".","operationId":"abortTaskRun","parameters":[{"name":"runId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskRunSummary"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/tasks/runs/{runId}:heartbeat":{"post":{"tags":["Task Runs"],"summary":"Heartbeat for a task run","description":"Heartbeat a task run for a given task run ID. This notifies TES that a task run is executing.","operationId":"heartbeatTaskRun","parameters":[{"name":"runId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/HeartbeatTaskRunRequest"}},"application/json":{"schema":{"$ref":"#/components/schemas/HeartbeatTaskRunRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/HeartbeatTaskRunRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/HeartbeatTaskRunRequest"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskRunHeartbeat"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-codegen-request-body-name":"body"}},"/v1/tasks/{taskId}/versions":{"get":{"tags":["Task Versions"],"summary":"Get a list of versions","description":"Gets a list of task versions within the given task accessible by the current tenant ID.","operationId":"listTaskVersions","parameters":[{"name":"taskId","in":"path","required":true,"schema":{"type":"string"}},{"name":"sort","in":"query","description":"Sort: Optional parameter to set the sort of the returned list. Valid fields include: name, version, timeCreated, timeModified.\r\nThe sort can be specified as asc or desc. (Default: asc.)","schema":{"type":"string"}},{"name":"versions","in":"query","schema":{"type":"string"}},{"name":"ids","in":"query","schema":{"type":"string"}},{"name":"acls","in":"query","schema":{"type":"string"}},{"name":"pageSize","in":"query","description":"Optional parameter to define the page size returned. Valid inputs range from 1-1000.","schema":{"type":"integer","format":"int32","default":10}},{"name":"pageToken","in":"query","description":"pageToken: Optional parameter for navigation after initial listing. Valid values include firstPageToken,\r\nnextPageToken, and previousPageToken (provided in the list response)","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskVersionSummaryPagedItems"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"tags":["Task Versions"],"summary":"Create a task version","description":"Creates a new task version within an existing task. Returns the ID associated with the new task version. Substitutions can be defined in the following format: \"{{string}}\", and specified at launch time.","operationId":"createTaskVersion","parameters":[{"name":"taskId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/CreateTaskVersionRequest"}},"application/json":{"schema":{"$ref":"#/components/schemas/CreateTaskVersionRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/CreateTaskVersionRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/CreateTaskVersionRequest"}}},"required":false},"responses":{"201":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskVersion"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-codegen-request-body-name":"body"}},"/v1/tasks/{taskId}/versions/{versionId}":{"get":{"tags":["Task Versions"],"summary":"Get the details of a task version","description":"Gets details of a task version for a given task version ID.","operationId":"getTaskVersion","parameters":[{"name":"taskId","in":"path","required":true,"schema":{"type":"string"}},{"name":"versionId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskVersion"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["Task Versions"],"summary":"Update task version properties","description":"Update details of a task version for a given task version ID.","operationId":"updateTaskVersion","parameters":[{"name":"taskId","in":"path","required":true,"schema":{"type":"string"}},{"name":"versionId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/UpdateTaskVersionRequest"}},"application/json":{"schema":{"$ref":"#/components/schemas/UpdateTaskVersionRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/UpdateTaskVersionRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/UpdateTaskVersionRequest"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskVersion"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-codegen-request-body-name":"body"}},"/v1/tasks/{taskId}/versions/{versionId}:launch":{"post":{"tags":["Task Versions"],"summary":"Launch a task version","description":"Launches a task version for a given task version ID. Returns the ID associated with the new task run. Substitutions defined in the task version must be specified.","operationId":"launchTaskRun","parameters":[{"name":"taskId","in":"path","required":true,"schema":{"type":"string"}},{"name":"versionId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/LaunchTaskRequest"}},"application/json":{"schema":{"$ref":"#/components/schemas/LaunchTaskRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/LaunchTaskRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/LaunchTaskRequest"}}},"required":false},"responses":{"201":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskRun"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-codegen-request-body-name":"body"}}},"components":{"schemas":{"Credentials":{"type":"object","properties":{"username":{"type":"string"},"password":{"type":"string"}}},"Image":{"required":["name"],"type":"object","properties":{"name":{"type":"string","description":"Name of url for Docker Image"},"tag":{"type":"string","description":"Version of image as defined in repository"},"digest":{"type":"string","description":"Version of image as defined in repository"},"credentials":{"$ref":"#/components/schemas/Credentials"}}},"InputMountMappingWithCreds":{"type":"object","properties":{"storageProvider":{"type":"string"},"credentials":{"type":"object","additionalProperties":{"type":"string"}},"path":{"type":"string"},"url":{"type":"string"},"urn":{"type":"string"},"mode":{"type":"string"},"type":{"type":"string","default":"File"}}},"MountMappingWithCreds":{"type":"object","properties":{"path":{"type":"string"},"url":{"type":"string"},"urn":{"type":"string"},"type":{"type":"string"},"storageProvider":{"type":"string"},"credentials":{"type":"object","additionalProperties":{"type":"string"}},"serviceUrl":{"type":"string"}}},"SystemFiles":{"type":"object","properties":{"url":{"type":"string"},"urn":{"type":"string"},"storageProvider":{"type":"string"},"credentials":{"type":"object","additionalProperties":{"type":"string"}}}},"Resources":{"type":"object","properties":{"type":{"type":"string"},"size":{"type":"string"},"cpuCores":{"type":"number","format":"double"},"memoryGb":{"type":"number","format":"double"},"hardware":{"type":"array","items":{"type":"string"}},"tier":{"type":"string"}}},"InputStreamSettings":{"type":"object","properties":{"accessPattern":{"type":"string","default":"sequential"},"cacheSizeGB":{"maximum":1E+4,"minimum":5E+1,"type":"integer","format":"int32","default":50},"blockSizeMB":{"maximum":1024,"minimum":0,"type":"number","format":"double","default":32.0},"prefetchBlocks":{"maximum":64,"minimum":0,"type":"integer","format":"int32","default":32}}},"Environment":{"type":"object","properties":{"variables":{"type":"object","additionalProperties":{"type":"string"}},"resources":{"$ref":"#/components/schemas/Resources"},"inputStreamSettings":{"$ref":"#/components/schemas/InputStreamSettings"}}},"Execution":{"type":"object","properties":{"image":{"$ref":"#/components/schemas/Image"},"command":{"type":"string"},"args":{"type":"array","description":"Argument to run specified task","items":{"type":"string"}},"inputs":{"type":"array","description":"Path (Inputs) - Path to mount file at valid Url\r\nURL (Inputs) - Url of file mounted at specified path","items":{"$ref":"#/components/schemas/InputMountMappingWithCreds"}},"outputs":{"type":"array","description":"Path (Outputs) - Path where files will be output to valid Url\r\nURL (Outputs) - Url of folder with files from the path will be uploaded","items":{"$ref":"#/components/schemas/MountMappingWithCreds"}},"systemFiles":{"$ref":"#/components/schemas/SystemFiles"},"environment":{"$ref":"#/components/schemas/Environment"},"workingDirectory":{"type":"string"},"retryLimit":{"type":"integer","format":"int32","default":3},"retryCount":{"type":"integer","format":"int32","default":0}}},"TaskVersionSummary":{"type":"object","properties":{"id":{"type":"string","description":"Global identifier for object"},"href":{"type":"string","description":"Href of the object"},"urn":{"type":"string","description":"URN of the resource"},"version":{"maxLength":255,"minLength":0,"type":"string"},"description":{"maxLength":4096,"minLength":0,"type":"string"},"acl":{"type":"array","description":"Access Control List","items":{"type":"string"}},"tenantId":{"type":"string"},"subTenantId":{"type":"string"},"createdBy":{"type":"string","description":"User who created the object"},"timeCreated":{"type":"string","description":"Date and Time (in UTC) when object was created in TES","format":"date-time"},"modifiedBy":{"type":"string","description":"User who updated the object"},"timeModified":{"type":"string","description":"Date and Time (in UTC) when object was modified in TES","format":"date-time"}}},"TaskRunLogs":{"type":"object","properties":{"startTime":{"type":"string","format":"date-time"},"endTime":{"type":"string","format":"date-time"},"error":{"type":"string"},"errorDetails":{"type":"string"},"stdout":{"type":"string"},"stderr":{"type":"string"}}},"TaskRun":{"type":"object","properties":{"id":{"type":"string","description":"Global identifier for object"},"href":{"type":"string","description":"Href of the object"},"urn":{"type":"string","description":"URN of the resource"},"name":{"maxLength":255,"minLength":0,"type":"string"},"description":{"maxLength":4096,"minLength":0,"type":"string"},"status":{"type":"string","default":"Pending"},"statusDetails":{"maxLength":4096,"minLength":0,"type":"string"},"typeOfResource":{"maxLength":255,"minLength":0,"type":"string"},"sizeOfResource":{"maxLength":255,"minLength":0,"type":"string"},"tierOfResource":{"maxLength":255,"minLength":0,"type":"string"},"execution":{"$ref":"#/components/schemas/Execution"},"taskVersionSummary":{"$ref":"#/components/schemas/TaskVersionSummary"},"logs":{"type":"array","items":{"$ref":"#/components/schemas/TaskRunLogs"}},"executionRawJson":{"type":"string"},"acl":{"type":"array","description":"Access Control List","items":{"type":"string"}},"tenantId":{"type":"string"},"subTenantId":{"type":"string"},"createdBy":{"type":"string","description":"User who created the object"},"timeCreated":{"type":"string","description":"Date and Time (in UTC) when object was created in TES","format":"date-time"},"modifiedBy":{"type":"string","description":"User who updated the object"},"timeModified":{"type":"string","description":"Date and Time (in UTC) when object was modified in TES","format":"date-time"}}},"ClusterSummary":{"type":"object","properties":{"id":{"type":"string","description":"Global identifier for object"},"href":{"type":"string","description":"Href of the object"},"urn":{"type":"string","description":"URN of the resource"},"name":{"maxLength":255,"minLength":0,"type":"string"},"svcAcctUId":{"type":"string"},"status":{"type":"string"},"type":{"type":"string"},"taskRuns":{"type":"array","items":{"$ref":"#/components/schemas/TaskRun"}},"acl":{"type":"array","description":"Access Control List","items":{"type":"string"}},"tenantId":{"type":"string"},"subTenantId":{"type":"string"},"createdBy":{"type":"string","description":"User who created the object"},"timeCreated":{"type":"string","description":"Date and Time (in UTC) when object was created in TES","format":"date-time"},"modifiedBy":{"type":"string","description":"User who updated the object"},"timeModified":{"type":"string","description":"Date and Time (in UTC) when object was modified in TES","format":"date-time"}}},"ClusterSummaryPagedItems":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/ClusterSummary"}},"itemCount":{"type":"integer","format":"int32"},"firstPageToken":{"type":"string"},"nextPageToken":{"type":"string"},"prevPageToken":{"type":"string"},"lastPageToken":{"type":"string"},"totalItemCount":{"type":"integer","format":"int64"},"totalPageCount":{"type":"integer","format":"int64"}}},"ErrorResponse":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"details":{"type":"array","items":{"type":"object","properties":{}}}}},"CreateClusterRequest":{"required":["name"],"type":"object","properties":{"name":{"maxLength":255,"minLength":0,"type":"string"},"svcAcctUId":{"type":"string"},"status":{"type":"string"},"type":{"type":"string"},"acl":{"type":"array","description":"Access Control List","items":{"type":"string"}}}},"Cluster":{"type":"object","properties":{"id":{"type":"string","description":"Global identifier for object"},"href":{"type":"string","description":"Href of the object"},"urn":{"type":"string","description":"URN of the resource"},"name":{"maxLength":255,"minLength":0,"type":"string"},"svcAcctUId":{"type":"string"},"status":{"type":"string"},"type":{"type":"string"},"taskRuns":{"type":"array","items":{"$ref":"#/components/schemas/TaskRun"}},"acl":{"type":"array","description":"Access Control List","items":{"type":"string"}},"tenantId":{"type":"string"},"subTenantId":{"type":"string"},"createdBy":{"type":"string","description":"User who created the object"},"timeCreated":{"type":"string","description":"Date and Time (in UTC) when object was created in TES","format":"date-time"},"modifiedBy":{"type":"string","description":"User who updated the object"},"timeModified":{"type":"string","description":"Date and Time (in UTC) when object was modified in TES","format":"date-time"}}},"UpdateClusterRequest":{"type":"object","properties":{"name":{"maxLength":255,"minLength":0,"type":"string","description":"User-defined name of the cluster"},"svcAcctUId":{"type":"string","description":"Service account user id to be associated with the cluster"},"status":{"type":"string","description":"User-defined status of the cluster"},"type":{"type":"string","description":"User-defined type of the cluster"},"acl":{"type":"array","description":"Access Control List","items":{"type":"string"}}}},"CheckOutQueuedTaskRunRequest":{"type":"object","properties":{"computeType":{"type":"string","description":"Type of the compute requested (Fpga and NonFpga)","enum":["Fpga","NonFpga"]}}},"AgentTaskRun":{"type":"object","properties":{"id":{"type":"string","description":"Global identifier for object"},"href":{"type":"string","description":"Href of the object"},"urn":{"type":"string","description":"URN of the resource"},"nonce":{"type":"string"},"encryptionKey":{"type":"string"},"inputManifestUrl":{"type":"string"},"outputManifestUrl":{"type":"string"},"heartbeatManifestUrl":{"type":"string"},"outputTokenManifestUrl":{"type":"string"},"name":{"maxLength":255,"minLength":0,"type":"string"},"description":{"maxLength":4096,"minLength":0,"type":"string"},"status":{"type":"string","default":"Pending"},"statusDetails":{"maxLength":4096,"minLength":0,"type":"string"},"typeOfResource":{"maxLength":255,"minLength":0,"type":"string"},"sizeOfResource":{"maxLength":255,"minLength":0,"type":"string"},"tierOfResource":{"maxLength":255,"minLength":0,"type":"string"},"execution":{"$ref":"#/components/schemas/Execution"},"taskVersionSummary":{"$ref":"#/components/schemas/TaskVersionSummary"},"logs":{"type":"array","items":{"$ref":"#/components/schemas/TaskRunLogs"}},"executionRawJson":{"type":"string"},"acl":{"type":"array","description":"Access Control List","items":{"type":"string"}},"tenantId":{"type":"string"},"subTenantId":{"type":"string"},"createdBy":{"type":"string","description":"User who created the object"},"timeCreated":{"type":"string","description":"Date and Time (in UTC) when object was created in TES","format":"date-time"},"modifiedBy":{"type":"string","description":"User who updated the object"},"timeModified":{"type":"string","description":"Date and Time (in UTC) when object was modified in TES","format":"date-time"}}},"TaskRunSummary":{"type":"object","properties":{"id":{"type":"string","description":"Global identifier for object"},"href":{"type":"string","description":"Href of the object"},"urn":{"type":"string","description":"URN of the resource"},"name":{"maxLength":255,"minLength":0,"type":"string"},"description":{"maxLength":4096,"minLength":0,"type":"string"},"status":{"type":"string","default":"Pending"},"statusDetails":{"maxLength":4096,"minLength":0,"type":"string"},"typeOfResource":{"maxLength":255,"minLength":0,"type":"string"},"sizeOfResource":{"maxLength":255,"minLength":0,"type":"string"},"tierOfResource":{"maxLength":255,"minLength":0,"type":"string"},"taskVersionSummary":{"$ref":"#/components/schemas/TaskVersionSummary"},"acl":{"type":"array","description":"Access Control List","items":{"type":"string"}},"tenantId":{"type":"string"},"subTenantId":{"type":"string"},"createdBy":{"type":"string","description":"User who created the object"},"timeCreated":{"type":"string","description":"Date and Time (in UTC) when object was created in TES","format":"date-time"},"modifiedBy":{"type":"string","description":"User who updated the object"},"timeModified":{"type":"string","description":"Date and Time (in UTC) when object was modified in TES","format":"date-time"}}},"TaskRunSummaryPagedItems":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/TaskRunSummary"}},"itemCount":{"type":"integer","format":"int32"},"firstPageToken":{"type":"string"},"nextPageToken":{"type":"string"},"prevPageToken":{"type":"string"},"lastPageToken":{"type":"string"},"totalItemCount":{"type":"integer","format":"int64"},"totalPageCount":{"type":"integer","format":"int64"}}},"UpdateTaskRunStateRequest":{"type":"object","properties":{"status":{"type":"string","description":"New TaskRun status to be updated","enum":["CheckedOut","Runnable","Running","Finalizing","Completed","FailedRestartable","Failed","Aborted","TimedOut"]},"statusDetails":{"type":"string","description":"Description of the event that triggered the state change"},"startTime":{"type":"string","description":"TaskRun execution start time","format":"date-time"},"completionTime":{"type":"string","description":"TaskRun execution completion time","format":"date-time"}}},"TaskSummary":{"type":"object","properties":{"id":{"type":"string","description":"Global identifier for object"},"href":{"type":"string","description":"Href of the object"},"urn":{"type":"string","description":"URN of the resource"},"name":{"maxLength":255,"minLength":0,"type":"string"},"description":{"maxLength":4096,"minLength":0,"type":"string"},"acl":{"type":"array","description":"Access Control List","items":{"type":"string"}},"tenantId":{"type":"string"},"subTenantId":{"type":"string"},"createdBy":{"type":"string","description":"User who created the object"},"timeCreated":{"type":"string","description":"Date and Time (in UTC) when object was created in TES","format":"date-time"},"modifiedBy":{"type":"string","description":"User who updated the object"},"timeModified":{"type":"string","description":"Date and Time (in UTC) when object was modified in TES","format":"date-time"}}},"TaskSummaryPagedItems":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/TaskSummary"}},"itemCount":{"type":"integer","format":"int32"},"firstPageToken":{"type":"string"},"nextPageToken":{"type":"string"},"prevPageToken":{"type":"string"},"lastPageToken":{"type":"string"},"totalItemCount":{"type":"integer","format":"int64"},"totalPageCount":{"type":"integer","format":"int64"}}},"CreateTaskVersionRequest":{"required":["version"],"type":"object","properties":{"version":{"maxLength":255,"minLength":0,"type":"string","description":"User-defined version of task version"},"description":{"maxLength":4096,"minLength":0,"type":"string","description":"User-defined description of task version"},"execution":{"$ref":"#/components/schemas/Execution"},"acl":{"type":"array","items":{"type":"string"}}}},"CreateTaskRequest":{"required":["name"],"type":"object","properties":{"name":{"maxLength":255,"minLength":0,"type":"string","description":"User-defined name of the task"},"description":{"maxLength":4096,"minLength":0,"type":"string","description":"User-defined description of the task"},"acl":{"type":"array","description":"Access Control List","items":{"type":"string"}},"taskVersions":{"type":"array","description":"List of task versions","items":{"$ref":"#/components/schemas/CreateTaskVersionRequest"}}}},"TaskVersion":{"type":"object","properties":{"id":{"type":"string","description":"Global identifier for object"},"href":{"type":"string","description":"Href of the object"},"urn":{"type":"string","description":"URN of the resource"},"version":{"maxLength":255,"minLength":0,"type":"string"},"description":{"maxLength":4096,"minLength":0,"type":"string"},"execution":{"$ref":"#/components/schemas/Execution"},"acl":{"type":"array","description":"Access Control List","items":{"type":"string"}},"tenantId":{"type":"string"},"subTenantId":{"type":"string"},"createdBy":{"type":"string","description":"User who created the object"},"timeCreated":{"type":"string","description":"Date and Time (in UTC) when object was created in TES","format":"date-time"},"modifiedBy":{"type":"string","description":"User who updated the object"},"timeModified":{"type":"string","description":"Date and Time (in UTC) when object was modified in TES","format":"date-time"}}},"Task":{"type":"object","properties":{"id":{"type":"string","description":"Global identifier for object"},"href":{"type":"string","description":"Href of the object"},"urn":{"type":"string","description":"URN of the resource"},"name":{"maxLength":255,"minLength":0,"type":"string"},"description":{"maxLength":4096,"minLength":0,"type":"string"},"taskVersions":{"type":"array","items":{"$ref":"#/components/schemas/TaskVersion"}},"acl":{"type":"array","description":"Access Control List","items":{"type":"string"}},"tenantId":{"type":"string"},"subTenantId":{"type":"string"},"createdBy":{"type":"string","description":"User who created the object"},"timeCreated":{"type":"string","description":"Date and Time (in UTC) when object was created in TES","format":"date-time"},"modifiedBy":{"type":"string","description":"User who updated the object"},"timeModified":{"type":"string","description":"Date and Time (in UTC) when object was modified in TES","format":"date-time"}}},"UpdateTaskRequest":{"type":"object","properties":{"name":{"maxLength":255,"minLength":0,"type":"string","description":"User-defined name of the task"},"description":{"maxLength":4096,"minLength":0,"type":"string","description":"User-defined description of the task"},"acl":{"type":"array","description":"Access Control List","items":{"type":"string"}}}},"CreateTaskRunRequest":{"type":"object","properties":{"name":{"maxLength":255,"minLength":0,"type":"string","description":"User-defined name of the task run"},"description":{"maxLength":4096,"minLength":0,"type":"string","description":"User-defined description of the task run"},"acl":{"type":"array","description":"Access Control List","items":{"type":"string"}},"execution":{"$ref":"#/components/schemas/Execution"}}},"ContainerStateWaiting":{"type":"object","properties":{"reason":{"type":"string"},"message":{"type":"string"}}},"ContainerStateRunning":{"type":"object","properties":{"startedAt":{"type":"string","format":"date-time"}}},"ContainerStateTerminated":{"type":"object","properties":{"exitCode":{"type":"integer","format":"int32"},"signal":{"type":"integer","format":"int32"},"reason":{"type":"string"},"message":{"type":"string"},"startedAt":{"type":"string","format":"date-time"},"finishedAt":{"type":"string","format":"date-time"},"containerID":{"type":"string"}}},"ContainerState":{"type":"object","properties":{"waiting":{"$ref":"#/components/schemas/ContainerStateWaiting"},"running":{"$ref":"#/components/schemas/ContainerStateRunning"},"terminated":{"$ref":"#/components/schemas/ContainerStateTerminated"}}},"ContainerStatus":{"type":"object","properties":{"name":{"type":"string"},"state":{"$ref":"#/components/schemas/ContainerState"}}},"HeartbeatTaskRunRequest":{"type":"object","properties":{"lastHeartbeat":{"type":"boolean","description":"LastHeartbeat"},"podName":{"type":"string"},"podUID":{"type":"string"},"podHardwareDetails":{"type":"string"},"jobRetryCount":{"type":"integer","format":"int32"},"nonce":{"type":"string"},"containerStatus":{"type":"array","items":{"$ref":"#/components/schemas/ContainerStatus"}}}},"TaskRunHeartbeat":{"type":"object","properties":{"jwt":{"type":"string"}}},"TaskVersionSummaryPagedItems":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/TaskVersionSummary"}},"itemCount":{"type":"integer","format":"int32"},"firstPageToken":{"type":"string"},"nextPageToken":{"type":"string"},"prevPageToken":{"type":"string"},"lastPageToken":{"type":"string"},"totalItemCount":{"type":"integer","format":"int64"},"totalPageCount":{"type":"integer","format":"int64"}}},"UpdateTaskVersionRequest":{"type":"object","properties":{"version":{"maxLength":255,"minLength":0,"type":"string","description":"User-defined version of task version"},"description":{"maxLength":4096,"minLength":0,"type":"string","description":"User-defined description of task version"},"execution":{"$ref":"#/components/schemas/Execution"},"acl":{"type":"array","items":{"type":"string"}}}},"LaunchTaskRequest":{"type":"object","properties":{"name":{"maxLength":255,"minLength":0,"type":"string","description":"User-defined name for the task run, if not specified version string of task version will be used"},"description":{"maxLength":4096,"minLength":0,"type":"string","description":"User-defined description for the task run, if not specified task version description will be used"},"arguments":{"type":"object","additionalProperties":{"type":"string"},"description":"Arguments to launch a task run"},"acl":{"type":"array","description":"Access Control List","items":{"type":"string"}}}}},"securitySchemes":{"Bearer":{"type":"apiKey","description":"JWT Authorization header using the Bearer scheme. Example: \"Authorization: Bearer {token}\"","name":"Authorization","in":"header"}}}}