{"openapi":"3.0.1","info":{"title":"Workflow Execution Service","version":"v1"},"servers":[{"url":"https://aps2.platform.illumina.com/"}],"security":[{"Bearer":[]}],"paths":{"/v1/workflows":{"get":{"tags":["Workflows"],"summary":"Get a list of workflows","description":"Gets a list of workflows.","operationId":"listWorkflows","parameters":[{"name":"tenantId","in":"query","description":"ID of the tenant","schema":{"type":"string"}},{"name":"name","in":"query","schema":{"type":"string"}},{"name":"categories","in":"query","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"include","in":"query","description":"Comma-separated list of properties to include in the response","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["totalItemCount"]}}},{"name":"pageSize","in":"query","description":"Number of items to include in a page. Value must be an integer between 1 and 1000. Only one of pageSize or pageToken can be specified.","schema":{"type":"integer","format":"int32","default":10}},{"name":"pageToken","in":"query","description":"Page offset descriptor. Valid page tokens are included in the response. Only one of pageSize or pageToken can be specified.","schema":{"type":"string"}},{"name":"sort","in":"query","description":"Specifies the order to include list items as \"_{fieldName}_ [asc|desc]\". The second field is optional and specifies the sort direction (\"asc\" for ascending or \"desc\" for descending).","schema":{"type":"string","default":"timeCreated asc"}}],"responses":{"200":{"description":"Paged list of workflows.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowList"}}}},"400":{"description":"Invalid request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Permission denied.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"tags":["Workflows"],"summary":"Create a workflow","description":"Creates a new workflow and version (if provided).","operationId":"createWorkflow","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateWorkflowRequest"}}},"required":false},"responses":{"201":{"description":"Details of the newly created workflow.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Workflow"}}}},"400":{"description":"Invalid request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Permission denied.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"A conflict was found. Ensure the workflow name is unique.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-codegen-request-body-name":"body"}},"/v1/workflows/{workflowId}":{"get":{"tags":["Workflows"],"summary":"Get the details of a workflow","description":"Gets the details of a workflow with a given ID.","operationId":"getWorkflow","parameters":[{"name":"workflowId","in":"path","description":"ID of the workflow","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Details of the workflow.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Workflow"}}}},"400":{"description":"Invalid request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Permission denied.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"The workflow with the specified ID was not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["Workflows"],"summary":"Update an existing workflow","description":"Updates the workflow with a given ID.","operationId":"updateWorkflow","parameters":[{"name":"workflowId","in":"path","description":"ID of the workflow","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateWorkflowRequest"}}},"required":false},"responses":{"200":{"description":"Returns updated workflow.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Workflow"}}}},"400":{"description":"Invalid request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Permission denied.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"The workflow with the specified ID was not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"A conflict was found. Ensure the workflow name is unique.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-codegen-request-body-name":"body"}},"/v1/workflows/runs":{"get":{"tags":["Workflow Runs"],"summary":"Get a list of workflow runs","description":"Gets a list of workflow runs.","operationId":"listWorkflowRuns","parameters":[{"name":"status","in":"query","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["aborted","aborting","failed","new","running","submitted","succeeded","timedOut"]}}},{"name":"tenantId","in":"query","description":"ID of the tenant","schema":{"type":"string"}},{"name":"name","in":"query","schema":{"type":"string"}},{"name":"include","in":"query","description":"Comma-separated list of properties to include in the response","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["totalItemCount"]}}},{"name":"pageSize","in":"query","description":"Number of items to include in a page. Value must be an integer between 1 and 1000. Only one of pageSize or pageToken can be specified.","schema":{"type":"integer","format":"int32","default":10}},{"name":"pageToken","in":"query","description":"Page offset descriptor. Valid page tokens are included in the response. Only one of pageSize or pageToken can be specified.","schema":{"type":"string"}},{"name":"sort","in":"query","description":"Specifies the order to include list items as \"_{fieldName}_ [asc|desc]\". The second field is optional and specifies the sort direction (\"asc\" for ascending or \"desc\" for descending).","schema":{"type":"string","default":"timeCreated asc"}}],"responses":{"200":{"description":"Paged list of workflow runs that the user has access to.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowRunList"}}}},"400":{"description":"Invalid request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Permission denied.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/workflows/runs/{runId}":{"get":{"tags":["Workflow Runs"],"summary":"Get the details of a workflow run","description":"Gets the details of a workflow run with a given ID.","operationId":"getWorkflowRun","parameters":[{"name":"runId","in":"path","description":"ID of the workflow run","required":true,"schema":{"type":"string"}},{"name":"include","in":"query","description":"Comma-separated list of properties to include in the response","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["definition","engineParameters"]}}}],"responses":{"200":{"description":"Details of the workflow run.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowRun"}}}},"400":{"description":"Invalid request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Permission denied.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"The workflow run with the specified ID was not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/workflows/runs/{runId}:abort":{"put":{"tags":["Workflow Runs"],"summary":"Abort a workflow run","description":"Aborts the workflow run with a given ID.","operationId":"abortWorkflowRun","parameters":[{"name":"runId","in":"path","description":"ID of the workflow run","required":true,"schema":{"type":"string"}},{"name":"include","in":"query","description":"Comma-separated list of properties to include in the response","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["definition","engineParameters"]}}}],"requestBody":{"content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/AbortWorkflowRunRequest"}},"application/json":{"schema":{"$ref":"#/components/schemas/AbortWorkflowRunRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/AbortWorkflowRunRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/AbortWorkflowRunRequest"}}},"required":false},"responses":{"200":{"description":"Details of the aborted workflow run.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowRun"}}}},"400":{"description":"Invalid request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Permission denied.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"The workflow run with the specified ID was not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-codegen-request-body-name":"body"}},"/v1/workflows/runs/{runId}/history":{"get":{"tags":["Workflow Runs"],"summary":"Get a list of workflow run history events","description":"Gets a list of history events for a workflow run with a given ID.","operationId":"listWorkflowRunHistory","parameters":[{"name":"runId","in":"path","description":"ID of the workflow run","required":true,"schema":{"type":"string"}},{"name":"sort","in":"query","schema":{"type":"string","default":"eventId asc"}},{"name":"include","in":"query","description":"Comma-separated list of properties to include in the response","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["totalItemCount"]}}},{"name":"pageSize","in":"query","description":"Number of items to include in a page. Value must be an integer between 1 and 1000. Only one of pageSize or pageToken can be specified.","schema":{"type":"integer","format":"int32","default":10}},{"name":"pageToken","in":"query","description":"Page offset descriptor. Valid page tokens are included in the response. Only one of pageSize or pageToken can be specified.","schema":{"type":"string"}}],"responses":{"200":{"description":"Paged list of workflow run history events.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowRunHistoryEventList"}}}},"400":{"description":"Invalid request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Permission denied.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"The workflow run with the specified ID was not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/workflows/signals/{signalId}":{"get":{"tags":["Workflow Signals"],"summary":"Get the details of a workflow signal","description":"Gets the details of a workflow signal with a given ID.","operationId":"getSignal","parameters":[{"name":"signalId","in":"path","description":"ID of the workflow signal","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Details of the workflow signal.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowSignal"}}}},"400":{"description":"Invalid request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Permission denied.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"The signal with the specified ID was not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/workflows/signals":{"get":{"tags":["Workflow Signals"],"summary":"Get a list of workflow signals","description":"Gets a list of workflow signals.","operationId":"listSignals","parameters":[{"name":"tenantId","in":"query","description":"ID of the tenant","schema":{"type":"string"}},{"name":"include","in":"query","description":"Comma-separated list of properties to include in the response","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["totalItemCount"]}}},{"name":"pageSize","in":"query","description":"Number of items to include in a page. Value must be an integer between 1 and 1000. Only one of pageSize or pageToken can be specified.","schema":{"type":"integer","format":"int32","default":10}},{"name":"pageToken","in":"query","description":"Page offset descriptor. Valid page tokens are included in the response. Only one of pageSize or pageToken can be specified.","schema":{"type":"string"}},{"name":"sort","in":"query","description":"Specifies the order to include list items as \"_{fieldName}_ [asc|desc]\". The second field is optional and specifies the sort direction (\"asc\" for ascending or \"desc\" for descending).","schema":{"type":"string","default":"timeCreated asc"}}],"responses":{"200":{"description":"Paged list of workflow signals that the user has access to.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowSignalList"}}}},"400":{"description":"Invalid request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Permission denied.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/workflows/signals/{signalId}:succeed":{"patch":{"tags":["Workflow Signals"],"summary":"Succeed a workflow signal","description":"Responds to a pending workflow signal with a successful result.","operationId":"succeedSignal","parameters":[{"name":"signalId","in":"path","description":"ID of the workflow signal","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/SucceedWorkflowSignalRequest"}},"application/json":{"schema":{"$ref":"#/components/schemas/SucceedWorkflowSignalRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/SucceedWorkflowSignalRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/SucceedWorkflowSignalRequest"}}},"required":false},"responses":{"200":{"description":"Returns the succeeded signal.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowSignal"}}}},"400":{"description":"Invalid request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Permission denied.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"The signal with the specified ID was not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"The workflow signal is no longer active.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-codegen-request-body-name":"body"}},"/v1/workflows/signals/{signalId}:fail":{"patch":{"tags":["Workflow Signals"],"summary":"Fail a workflow signal","description":"Responds to a pending workflow signal with a failure result.","operationId":"failSignal","parameters":[{"name":"signalId","in":"path","description":"ID of the workflow signal","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/FailWorkflowSignalRequest"}},"application/json":{"schema":{"$ref":"#/components/schemas/FailWorkflowSignalRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/FailWorkflowSignalRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/FailWorkflowSignalRequest"}}},"required":false},"responses":{"200":{"description":"Returns the failed signal.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowSignal"}}}},"400":{"description":"Invalid request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Permission denied.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"The signal with the specified ID was not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"The workflow signal is no longer active.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-codegen-request-body-name":"body"}},"/v1/workflows/{workflowId}/versions/{versionName}":{"get":{"tags":["Workflow Versions"],"summary":"Get the details of a workflow version","description":"Gets the details for a workflow version with a given workflow ID and version name.","operationId":"getWorkflowVersion","parameters":[{"name":"workflowId","in":"path","description":"ID of the workflow","required":true,"schema":{"type":"string"}},{"name":"versionName","in":"path","description":"Name of the workflow version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Details of the workflow version.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowVersion"}}}},"400":{"description":"Invalid request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Permission denied.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"The workflow ID or version name was not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["Workflow Versions"],"summary":"Update an existing workflow version","description":"Updates an existing workflow version. Note: The Version, Definition, and Status cannot be changed simultaneously. Only one of these can be changed per API call.","operationId":"updateWorkflowVersion","parameters":[{"name":"workflowId","in":"path","description":"ID of the workflow","required":true,"schema":{"type":"string"}},{"name":"versionName","in":"path","description":"Name of the workflow version","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/UpdateWorkflowVersionRequest"}},"application/json":{"schema":{"$ref":"#/components/schemas/UpdateWorkflowVersionRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/UpdateWorkflowVersionRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/UpdateWorkflowVersionRequest"}}},"required":false},"responses":{"200":{"description":"Details of the created workflow run.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowVersion"}}}},"400":{"description":"Invalid request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Permission denied.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"The workflow ID or version name was not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"A conflict was found. Ensure the workflow version name is unique.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-codegen-request-body-name":"body"}},"/v1/workflows/{workflowId}/versions":{"get":{"tags":["Workflow Versions"],"summary":"Get a list of workflow versions","description":"Gets a list of workflow versions with a given workflow ID.","operationId":"listWorkflowVersions","parameters":[{"name":"workflowId","in":"path","description":"ID of the workflow","required":true,"schema":{"type":"string"}},{"name":"include","in":"query","description":"Comma-separated list of properties to include in the response","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["totalItemCount"]}}},{"name":"pageSize","in":"query","description":"Number of items to include in a page. Value must be an integer between 1 and 1000. Only one of pageSize or pageToken can be specified.","schema":{"type":"integer","format":"int32","default":10}},{"name":"pageToken","in":"query","description":"Page offset descriptor. Valid page tokens are included in the response. Only one of pageSize or pageToken can be specified.","schema":{"type":"string"}},{"name":"sort","in":"query","description":"Specifies the order to include list items as \"_{fieldName}_ [asc|desc]\". The second field is optional and specifies the sort direction (\"asc\" for ascending or \"desc\" for descending).","schema":{"type":"string","default":"timeCreated asc"}}],"responses":{"200":{"description":"Paged list of workflow versions that the user has access to.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowVersionList"}}}},"400":{"description":"Invalid request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Permission denied.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"The workflow with the specified ID was not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"tags":["Workflow Versions"],"summary":"Create a new workflow version","description":"Creates a new workflow version with a given workflow ID.","operationId":"createWorkflowVersion","parameters":[{"name":"workflowId","in":"path","description":"ID of the workflow","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateWorkflowVersionRequest"}}},"required":false},"responses":{"201":{"description":"Details of the created workflow version.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowVersion"}}}},"400":{"description":"Invalid request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Permission denied.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"A conflict was found. Ensure the workflow version name is unique.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-codegen-request-body-name":"body"}},"/v1/workflows/versions":{"get":{"tags":["Workflow Versions"],"summary":"Get a list of all workflow versions","description":"Gets a list of workflow versions across all workflows.","operationId":"listAllWorkflowVersions","parameters":[{"name":"tenantId","in":"query","description":"ID of the tenant","schema":{"type":"string"}},{"name":"include","in":"query","description":"Comma-separated list of properties to include in the response","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["totalItemCount"]}}},{"name":"pageSize","in":"query","description":"Number of items to include in a page. Value must be an integer between 1 and 1000. Only one of pageSize or pageToken can be specified.","schema":{"type":"integer","format":"int32","default":10}},{"name":"pageToken","in":"query","description":"Page offset descriptor. Valid page tokens are included in the response. Only one of pageSize or pageToken can be specified.","schema":{"type":"string"}},{"name":"sort","in":"query","description":"Specifies the order to include list items as \"_{fieldName}_ [asc|desc]\". The second field is optional and specifies the sort direction (\"asc\" for ascending or \"desc\" for descending).","schema":{"type":"string","default":"timeCreated asc"}}],"responses":{"200":{"description":"Paged list of workflow versions across all workflows.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowVersionList"}}}},"400":{"description":"Invalid request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Permission denied.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/workflows/{workflowId}/versions/{versionName}:launch":{"post":{"tags":["Workflow Versions"],"summary":"Launch a workflow version","description":"Launches a workflow version with a given workflow ID and version name.","operationId":"launchWorkflowVersion","parameters":[{"name":"workflowId","in":"path","description":"ID of the workflow","required":true,"schema":{"type":"string"}},{"name":"versionName","in":"path","description":"Name of the workflow version","required":true,"schema":{"type":"string"}},{"name":"include","in":"query","description":"Comma-separated list of properties to include in the response","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["definition","engineParameters"]}}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LaunchWorkflowVersionRequest"}}},"required":false},"responses":{"201":{"description":"Details of the created workflow run.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowRun"}}}},"400":{"description":"Invalid request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Permission denied.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"default":{"description":"Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-codegen-request-body-name":"body"}}},"components":{"schemas":{"AbortWorkflowRunRequest":{"required":["error"],"type":"object","properties":{"error":{"maxLength":256,"minLength":0,"type":"string"},"cause":{"maxLength":32768,"minLength":0,"type":"string"}},"description":"Abort a workflow run"},"CreateWorkflowRequest":{"required":["name"],"type":"object","properties":{"name":{"minLength":1,"type":"string"},"description":{"maxLength":256,"minLength":0,"type":"string"},"organization":{"maxLength":255,"minLength":0,"type":"string"},"workflowVersion":{"$ref":"#/components/schemas/CreateWorkflowVersionRequest"},"toolClass":{"type":"string","enum":["workflow","commandLineTool"]},"acl":{"type":"array","items":{"type":"string"}},"categories":{"type":"array","items":{"type":"string"}}},"description":"Create a workflow and optional version"},"CreateWorkflowVersionRequest":{"required":["version"],"type":"object","properties":{"version":{"minLength":1,"type":"string"},"description":{"maxLength":256,"minLength":0,"type":"string"},"language":{"$ref":"#/components/schemas/WorkflowLanguage"},"definition":{"type":"object"},"acl":{"type":"array","items":{"type":"string"}},"status":{"type":"string","description":"Published Status of the workflow version","enum":["draft","released","obsolete"]}},"description":"Create a new workflow version under an existing workflow root"},"ErrorResponse":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"details":{"type":"array","items":{"type":"object"}}}},"FailWorkflowSignalRequest":{"required":["error"],"type":"object","properties":{"error":{"minLength":1,"type":"string","description":"Externally provided Error of a signalling action."},"cause":{"type":"string","description":"Externally provided Cause of a failed signalling action."}},"description":"Fail workflow signal request"},"LaunchWorkflowVersionRequest":{"type":"object","properties":{"name":{"maxLength":255,"minLength":0,"pattern":"^(?![wW][fF][rR]\\..*)(^[0-9a-zA-Z-_\\.]*$)","type":"string","description":"Name of the workflow run"},"input":{"type":"object","description":"Input for the launched workflow run. Must resolve to a JSON object."},"engineParameters":{"type":"object","description":"Runtime options for launching workflows (currently only used for Airflow     and otherwise ignored). Must resolve to a JSON object."}}},"SucceedWorkflowSignalRequest":{"type":"object","properties":{"result":{"type":"object","description":"External result of a successful signal. Must resolve to a JSON value."}}},"UpdateWorkflowRequest":{"type":"object","properties":{"name":{"type":"string"},"description":{"maxLength":256,"minLength":0,"type":"string"},"organization":{"maxLength":255,"minLength":0,"type":"string"},"acl":{"type":"array","items":{"type":"string"}},"categories":{"type":"array","items":{"type":"string"}}},"description":"Update an existing workflow"},"UpdateWorkflowVersionRequest":{"type":"object","properties":{"version":{"type":"string"},"description":{"maxLength":256,"minLength":0,"type":"string"},"language":{"$ref":"#/components/schemas/WorkflowLanguage"},"definition":{"type":"object"},"acl":{"type":"array","items":{"type":"string"}},"status":{"type":"string","description":"New Status for workflow version","enum":["draft","released","obsolete"]}},"description":"Update a workflow version definition using patch semantics"},"Workflow":{"type":"object","properties":{"id":{"type":"string","description":"Unique resource ID"},"urn":{"type":"string","description":"URN of the resource"},"href":{"type":"string","description":"HREF to the resource","format":"uri"},"name":{"maxLength":255,"minLength":0,"type":"string","description":"Name of the workflow"},"organization":{"maxLength":255,"minLength":0,"type":"string","description":"Organization associated with the workflow"},"description":{"maxLength":256,"minLength":0,"type":"string","description":"Description of the workflow"},"toolClass":{"type":"string","description":"Workflow type"},"categories":{"type":"array","description":"Categories of the workflow (Limit Max Size : 10)","items":{"type":"string"}},"createdByClientId":{"type":"string","description":"Client ID of the Origin Request"},"timeCreated":{"type":"string","description":"Time (in UTC) the resource was created","format":"date-time"},"timeModified":{"type":"string","description":"Time (in UTC) the resource was modified","format":"date-time"},"createdBy":{"type":"string","description":"User that created the resource"},"modifiedBy":{"type":"string","description":"User that modified the resource"},"tenantId":{"maxLength":255,"minLength":0,"type":"string","description":"Tenant ID the resource belongs to"},"acl":{"type":"array","description":"Access control list of the resource","items":{"type":"string"}}},"description":"Details of a workflow"},"WorkflowArgument":{"required":["name"],"type":"object","properties":{"name":{"maxLength":128,"minLength":0,"type":"string","description":"Name of the argument key"},"value":{"type":"string","description":"A simple string value for the argument. Cannot provide both Value and Json at the same time."},"json":{"type":"object","description":"A JSON value for the argument. Cannot provide both Value and Json at the same time."},"options":{"type":"string","description":"Comma separated list of options for the argument: Required, Overridable, Writable, Json, Optional, ReadOnly, Final\r\nSome combinations of options are considered errors, like Required/Optional, Overridable/Final, Writable/ReadOnly, etc."}},"description":"Argument definition"},"WorkflowCompact":{"type":"object","properties":{"id":{"type":"string","description":"Unique resource ID"},"urn":{"type":"string","description":"URN of the resource"},"href":{"type":"string","description":"HREF to the resource","format":"uri"},"name":{"maxLength":255,"minLength":0,"type":"string","description":"Name of the workflow"},"organization":{"maxLength":255,"minLength":0,"type":"string","description":"Organization associated with the workflow"},"description":{"maxLength":256,"minLength":0,"type":"string","description":"Description of the workflow"},"toolClass":{"type":"string","description":"Workflow type"},"categories":{"type":"array","description":"Categories of the workflow (Limit Max Size : 10)","items":{"type":"string"}},"createdByClientId":{"type":"string","description":"Client ID of the Origin Request"},"timeCreated":{"type":"string","description":"Time (in UTC) the resource was created","format":"date-time"},"timeModified":{"type":"string","description":"Time (in UTC) the resource was modified","format":"date-time"},"createdBy":{"type":"string","description":"User that created the resource"},"modifiedBy":{"type":"string","description":"User that modified the resource"},"tenantId":{"maxLength":255,"minLength":0,"type":"string","description":"Tenant ID the resource belongs to"},"acl":{"type":"array","description":"Access control list of the resource","items":{"type":"string"}}},"description":"Compact details of a workflow"},"WorkflowConnection":{"required":["name"],"type":"object","properties":{"name":{"maxLength":128,"minLength":0,"type":"string"},"type":{"type":"string","description":"Type of the connection: PlatformJwt, ApiBearerToken, AwsCredentials, ApiCustomAuthentication, BsshOAuthV2"},"host":{"maxLength":1024,"minLength":0,"type":"string","description":"For API based connections, the Host part of the API endpoint","format":"uri","example":"https://api.myhost.com/v1/"},"hostValidationRegex":{"maxLength":100,"minLength":0,"type":"string","description":"Regex that hosts associated with this connection must meet (when host override by each run is allowed)"},"credentials":{"type":"string","description":"Credentials associated with the connection. Format depends on type of connection."},"options":{"type":"string","description":"Comma separated list of options associated with the connection: CredentialsRequired, AllowCredentialsOverride, AutoDisableCredentialsAfterUse, AllowHostOverride"},"autoDisableUrl":{"maxLength":1024,"minLength":0,"type":"string","description":"Relative URL (relative to Host) to call in order to disable the credentials","format":"uri"},"autoDisableHttpMethod":{"maxLength":10,"minLength":0,"type":"string","description":"Http method to use to disable the credentials. Must be POST, PUT or DELETE"}},"description":"Defines a connection that can be used in a workflow definition to perform actions"},"WorkflowLanguage":{"required":["name"],"type":"object","properties":{"name":{"minLength":1,"type":"string","description":"The name of the workflow language"},"version":{"type":"string","description":"The version of the workflow language, if any"}},"description":"Language details about a workflow version"},"WorkflowList":{"type":"object","properties":{"items":{"type":"array","description":"Items in paged list","items":{"$ref":"#/components/schemas/WorkflowCompact"}},"itemCount":{"type":"integer","description":"Number of items included in the page","format":"int32"},"firstPageToken":{"type":"string","description":"PageToken for first paged list"},"nextPageToken":{"type":"string","description":"PageToken for the next paged list"},"prevPageToken":{"type":"string","description":"PageToken for the previous paged list"},"lastPageToken":{"type":"string","description":"PageToken for the last paged list. Only included when totalItemCount is listed"},"totalItemCount":{"type":"integer","description":"Total number of items in all pages. Only included when requested","format":"int64"},"totalPageCount":{"type":"integer","description":"Total number of pages. Only included when totalItemCount is listed","format":"int64"}}},"WorkflowRun":{"type":"object","properties":{"id":{"type":"string","description":"Unique resource ID"},"urn":{"type":"string","description":"URN of the resource"},"href":{"type":"string","description":"HREF to the resource","format":"uri"},"name":{"maxLength":255,"minLength":0,"type":"string","description":"Name of the workflow run"},"timeStarted":{"type":"string","description":"The time (in UTC) the workflow run started","format":"date-time"},"timeStopped":{"type":"string","description":"The time (in UTC) the Workflow Run stopped","format":"date-time"},"status":{"type":"string","description":"Workflow run status"},"idempotencyKey":{"type":"string"},"statusSummary":{"type":"string","description":"Workflow run status summary"},"error":{"type":"string","description":"Error for a failed workflow run"},"errorCause":{"type":"string","description":"Error cause for a failed workflow run"},"workflowVersion":{"$ref":"#/components/schemas/WorkflowVersionCompact"},"createdByClientId":{"type":"string","description":"Client ID of the Origin Request"},"input":{"type":"object","description":"Input to workflow run, as JSON"},"output":{"type":"object","description":"Output from workflow run, as JSON"},"definition":{"type":"string","description":"Definition of the workflow version"},"engineParameters":{"type":"string","description":"Workflow Engine Parameters"},"timeCreated":{"type":"string","description":"Time (in UTC) the resource was created","format":"date-time"},"timeModified":{"type":"string","description":"Time (in UTC) the resource was modified","format":"date-time"},"createdBy":{"type":"string","description":"User that created the resource"},"modifiedBy":{"type":"string","description":"User that modified the resource"},"tenantId":{"maxLength":255,"minLength":0,"type":"string","description":"Tenant ID the resource belongs to"},"acl":{"type":"array","description":"Access control list of the resource","items":{"type":"string"}}},"description":"Details of a workflow run"},"WorkflowRunCompact":{"type":"object","properties":{"id":{"type":"string","description":"Unique resource ID"},"urn":{"type":"string","description":"URN of the resource"},"href":{"type":"string","description":"HREF to the resource","format":"uri"},"name":{"maxLength":255,"minLength":0,"type":"string","description":"Name of the workflow run"},"timeStarted":{"type":"string","description":"The time (in UTC) the workflow run started","format":"date-time"},"timeStopped":{"type":"string","description":"The time (in UTC) the Workflow Run stopped","format":"date-time"},"status":{"type":"string","description":"Workflow run status"},"idempotencyKey":{"type":"string"},"statusSummary":{"type":"string","description":"Workflow run status summary"},"error":{"type":"string","description":"Error for a failed workflow run"},"errorCause":{"type":"string","description":"Error cause for a failed workflow run"},"workflowVersion":{"$ref":"#/components/schemas/WorkflowVersionCompact"},"createdByClientId":{"type":"string","description":"Client ID of the Origin Request"},"engineParameters":{"type":"string","description":"Workflow Engine Parameters"},"timeCreated":{"type":"string","description":"Time (in UTC) the resource was created","format":"date-time"},"timeModified":{"type":"string","description":"Time (in UTC) the resource was modified","format":"date-time"},"createdBy":{"type":"string","description":"User that created the resource"},"modifiedBy":{"type":"string","description":"User that modified the resource"},"tenantId":{"maxLength":255,"minLength":0,"type":"string","description":"Tenant ID the resource belongs to"},"acl":{"type":"array","description":"Access control list of the resource","items":{"type":"string"}}},"description":"Compact details of a workflow run"},"WorkflowRunHistoryEvent":{"type":"object","properties":{"name":{"type":"string","description":"Name of the event, such as the name of the step/task for state-level events and run name for run-level events"},"eventId":{"type":"integer","description":"Identifier for the history event, if any","format":"int64"},"previousEventId":{"type":"integer","description":"Identifier for any previous history event (if available)","format":"int64"},"eventType":{"type":"string","description":"Type of history event. The associated details entry will be populated based on the type of event."},"timestamp":{"type":"string","description":"Timestamp for the history event","format":"date-time"},"eventDetails":{"type":"object","description":"Details for history event"}},"description":"Information about a specific event in the workflow run history"},"WorkflowRunHistoryEventList":{"type":"object","properties":{"items":{"type":"array","description":"Items in paged list","items":{"$ref":"#/components/schemas/WorkflowRunHistoryEvent"}},"itemCount":{"type":"integer","description":"Number of items included in the page","format":"int32"},"firstPageToken":{"type":"string","description":"PageToken for first paged list"},"nextPageToken":{"type":"string","description":"PageToken for the next paged list"},"prevPageToken":{"type":"string","description":"PageToken for the previous paged list"},"lastPageToken":{"type":"string","description":"PageToken for the last paged list. Only included when totalItemCount is listed"},"totalItemCount":{"type":"integer","description":"Total number of items in all pages. Only included when requested","format":"int64"},"totalPageCount":{"type":"integer","description":"Total number of pages. Only included when totalItemCount is listed","format":"int64"}}},"WorkflowRunList":{"type":"object","properties":{"items":{"type":"array","description":"Items in paged list","items":{"$ref":"#/components/schemas/WorkflowRunCompact"}},"itemCount":{"type":"integer","description":"Number of items included in the page","format":"int32"},"firstPageToken":{"type":"string","description":"PageToken for first paged list"},"nextPageToken":{"type":"string","description":"PageToken for the next paged list"},"prevPageToken":{"type":"string","description":"PageToken for the previous paged list"},"lastPageToken":{"type":"string","description":"PageToken for the last paged list. Only included when totalItemCount is listed"},"totalItemCount":{"type":"integer","description":"Total number of items in all pages. Only included when requested","format":"int64"},"totalPageCount":{"type":"integer","description":"Total number of pages. Only included when totalItemCount is listed","format":"int64"}}},"WorkflowSignal":{"type":"object","properties":{"id":{"type":"string","description":"Unique resource ID"},"urn":{"type":"string","description":"URN of the resource"},"href":{"type":"string","description":"HREF to the resource","format":"uri"},"sendHeartbeatHref":{"type":"string","description":"HREF to send a heartbeat to a workflow signal","format":"uri"},"sendSuccessResponseHref":{"type":"string","description":"HREF to succeed a workflow signal","format":"uri"},"sendFailureResponseHref":{"type":"string","description":"HREF to fail a workflow signal","format":"uri"},"name":{"type":"string","description":"Unique name of the signal"},"status":{"type":"string","description":"Current status of the signal"},"type":{"type":"string","description":"User-defined type associated with the signal"},"description":{"maxLength":256,"minLength":0,"type":"string","description":"Description of the signal"},"inputs":{"type":"object","description":"Inputs defined by the originating WaitForSignal state, in JSON."},"workflowRun":{"$ref":"#/components/schemas/WorkflowRunCompact"},"timeoutSeconds":{"type":"integer","description":"Signal timeout in seconds. The Signal will timeout if a heartbeat, succeed or fail is not received in this time interval.","format":"int32"},"result":{"type":"object","description":"The result of a successful signalling action in JSON."},"error":{"type":"string","description":"The error of a failed signal."},"errorCause":{"type":"string","description":"The error cause of a failed signal."},"createdByClientId":{"type":"string","description":"Client ID of the Origin Request"},"timeCreated":{"type":"string","description":"Time (in UTC) the resource was created","format":"date-time"},"timeModified":{"type":"string","description":"Time (in UTC) the resource was modified","format":"date-time"},"createdBy":{"type":"string","description":"User that created the resource"},"modifiedBy":{"type":"string","description":"User that modified the resource"},"tenantId":{"maxLength":255,"minLength":0,"type":"string","description":"Tenant ID the resource belongs to"},"acl":{"type":"array","description":"Access control list of the resource","items":{"type":"string"}}}},"WorkflowSignalCompact":{"type":"object","properties":{"id":{"type":"string","description":"Unique resource ID"},"urn":{"type":"string","description":"URN of the resource"},"href":{"type":"string","description":"HREF to the resource","format":"uri"},"sendHeartbeatHref":{"type":"string","description":"HREF to send a heartbeat to a workflow signal","format":"uri"},"sendSuccessResponseHref":{"type":"string","description":"HREF to succeed a workflow signal","format":"uri"},"sendFailureResponseHref":{"type":"string","description":"HREF to fail a workflow signal","format":"uri"},"name":{"type":"string","description":"Unique name of the signal"},"status":{"type":"string","description":"Current status of the signal"},"type":{"type":"string","description":"User-defined type associated with the signal"},"description":{"maxLength":256,"minLength":0,"type":"string","description":"Description of the signal"},"inputs":{"type":"object","description":"Inputs defined by the originating WaitForSignal state, in JSON."},"workflowRun":{"$ref":"#/components/schemas/WorkflowRunCompact"},"timeoutSeconds":{"type":"integer","description":"Signal timeout in seconds. The Signal will timeout if a heartbeat, succeed or fail is not received in this time interval.","format":"int32"},"result":{"type":"object","description":"The result of a successful signalling action in JSON."},"error":{"type":"string","description":"The error of a failed signal."},"errorCause":{"type":"string","description":"The error cause of a failed signal."},"createdByClientId":{"type":"string","description":"Client ID of the Origin Request"},"timeCreated":{"type":"string","description":"Time (in UTC) the resource was created","format":"date-time"},"timeModified":{"type":"string","description":"Time (in UTC) the resource was modified","format":"date-time"},"createdBy":{"type":"string","description":"User that created the resource"},"modifiedBy":{"type":"string","description":"User that modified the resource"},"tenantId":{"maxLength":255,"minLength":0,"type":"string","description":"Tenant ID the resource belongs to"},"acl":{"type":"array","description":"Access control list of the resource","items":{"type":"string"}}},"description":"Compact details of a signal"},"WorkflowSignalList":{"type":"object","properties":{"items":{"type":"array","description":"Items in paged list","items":{"$ref":"#/components/schemas/WorkflowSignalCompact"}},"itemCount":{"type":"integer","description":"Number of items included in the page","format":"int32"},"firstPageToken":{"type":"string","description":"PageToken for first paged list"},"nextPageToken":{"type":"string","description":"PageToken for the next paged list"},"prevPageToken":{"type":"string","description":"PageToken for the previous paged list"},"lastPageToken":{"type":"string","description":"PageToken for the last paged list. Only included when totalItemCount is listed"},"totalItemCount":{"type":"integer","description":"Total number of items in all pages. Only included when requested","format":"int64"},"totalPageCount":{"type":"integer","description":"Total number of pages. Only included when totalItemCount is listed","format":"int64"}}},"WorkflowVersion":{"type":"object","properties":{"id":{"type":"string","description":"Unique resource ID"},"urn":{"type":"string","description":"URN of the resource"},"href":{"type":"string","description":"HREF to the resource","format":"uri"},"version":{"maxLength":40,"minLength":0,"type":"string","description":"Name of the workflow version"},"category":{"maxLength":128,"minLength":0,"type":"string","description":"Category of the workflow version"},"description":{"maxLength":256,"minLength":0,"type":"string","description":"Description of the workflow version"},"language":{"$ref":"#/components/schemas/WorkflowLanguage"},"status":{"type":"string","description":"Published Status of the workflow version"},"createdByClientId":{"type":"string","description":"Client ID of the Origin Request"},"definition":{"type":"string","description":"Definition of the workflow version"},"timeCreated":{"type":"string","description":"Time (in UTC) the resource was created","format":"date-time"},"timeModified":{"type":"string","description":"Time (in UTC) the resource was modified","format":"date-time"},"createdBy":{"type":"string","description":"User that created the resource"},"modifiedBy":{"type":"string","description":"User that modified the resource"},"tenantId":{"maxLength":255,"minLength":0,"type":"string","description":"Tenant ID the resource belongs to"},"acl":{"type":"array","description":"Access control list of the resource","items":{"type":"string"}}},"description":"Details of a Workflow version definition"},"WorkflowVersionCompact":{"type":"object","properties":{"id":{"type":"string","description":"Unique resource ID"},"urn":{"type":"string","description":"URN of the resource"},"href":{"type":"string","description":"HREF to the resource","format":"uri"},"version":{"maxLength":40,"minLength":0,"type":"string","description":"Name of the workflow version"},"category":{"maxLength":128,"minLength":0,"type":"string","description":"Category of the workflow version"},"description":{"maxLength":256,"minLength":0,"type":"string","description":"Description of the workflow version"},"language":{"$ref":"#/components/schemas/WorkflowLanguage"},"status":{"type":"string","description":"Published Status of the workflow version"},"createdByClientId":{"type":"string","description":"Client ID of the Origin Request"},"timeCreated":{"type":"string","description":"Time (in UTC) the resource was created","format":"date-time"},"timeModified":{"type":"string","description":"Time (in UTC) the resource was modified","format":"date-time"},"createdBy":{"type":"string","description":"User that created the resource"},"modifiedBy":{"type":"string","description":"User that modified the resource"},"tenantId":{"maxLength":255,"minLength":0,"type":"string","description":"Tenant ID the resource belongs to"},"acl":{"type":"array","description":"Access control list of the resource","items":{"type":"string"}}},"description":"Compact details of a Workflow version definition"},"WorkflowVersionList":{"type":"object","properties":{"items":{"type":"array","description":"Items in paged list","items":{"$ref":"#/components/schemas/WorkflowVersionCompact"}},"itemCount":{"type":"integer","description":"Number of items included in the page","format":"int32"},"firstPageToken":{"type":"string","description":"PageToken for first paged list"},"nextPageToken":{"type":"string","description":"PageToken for the next paged list"},"prevPageToken":{"type":"string","description":"PageToken for the previous paged list"},"lastPageToken":{"type":"string","description":"PageToken for the last paged list. Only included when totalItemCount is listed"},"totalItemCount":{"type":"integer","description":"Total number of items in all pages. Only included when requested","format":"int64"},"totalPageCount":{"type":"integer","description":"Total number of pages. Only included when totalItemCount is listed","format":"int64"}}}},"securitySchemes":{"Bearer":{"type":"apiKey","description":"JWT Authorization header using the Bearer scheme. Example: \"Authorization: Bearer {token}\"","name":"Authorization","in":"header"}}}}